[2016-05-19 16:48] adriancole opened #1 "Variant for use in browsers"
From @virusdave

[2016-05-19 16:52] eirslett commented on #1
I think we should be able to refactor the code base a little bit, so you can pass in a context API as a constructor argument instead of hard-coding to CLS. That would make it more universal. We could e.g. use AngularJS Zones for the browser part.

We need to build a zipkin-transport-http first, since I think http is the only viable option for sending trace data from the browser.

There are also so

[2016-05-19 17:07] adriancole commented on #1
good point in general, though it isn't necessarily something we need to
address at the same time since there's a use case for tracing internal or
otherwise vpn'd apps. wanna open an issue in zipkin-java? we can start
collecting practice.

[2016-06-01 14:57] eirslett opened #2 "Swappable context API"
We're currently working on a refactor of zipkin-js, where you, instead of using continuation-local-storage, can provide your own context API. This is handy for people who either don't want to use continuation-local-storage for whatever reasons, and/or people who already have a context object they pass around explicitly in their application code.
Another use case would be to run zipkin-js in the br

[2016-06-01 15:17] eirslett opened #3 "Time in microseconds"
The current implementation in time.js has a bug:

[code]

We want to get the number of *microseconds* since 1970, not the number of milliseconds. That's why we take d.getTime(), which returns number of milliseconds from 1970, and multiply by 1000, to get number of microseconds since 1970.

In order to solve this, we need to find a timer with microsecond precision, that preferably works both in the

[2016-06-03 11:36] #2 closed

[2016-06-03 14:26] eirslett opened #7 "Add error handlers"
It should be possible for applications to handle errors in the loggers, by adding e.g.

[code]

to the code. That means we need to forward the error events from the underlying implementations.

Another alternative is to let users provide their own scribe client or kafka client etc., and let them add error handling directly on their underlying client.

[2016-06-04 19:47] sveisvei commented on #3
Using https://nodejs.org/api/process.html#process_process_hrtime_time `process.hrtime()` for node.js.

Browsers is another thing, and does not have this implemented yet. (https://www.w3.org/TR/hr-time/)
There is a shim we can use: https://github.com/kumavis/browser-process-hrtime

[2016-06-08 23:13] hakanson opened #11 "opts parameter to wrapFetch is required, but README.md doesn't use"
The README.md uses this sample code:
`zipkinFetch('http://www.youtube.com/').then(res => res.json()).then(data => ...);`

But with only a `url` parameter, this error appears:
`TypeError: Cannot read property 'method' of undefined`

This appears to be because `wrapFetch.js` assumes the `opts` object exists:
`const method = opts.method || 'GET';`

Assuming the behavior should match`node-fetch`, the

[2016-06-09 06:19] sveisvei commented on #11
I agree, we should add default options {} here: https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin-instrumentation-fetch/src/wrapFetch.js#L19

[2016-06-09 08:17] #11 closed

[2016-06-09 10:45] eirslett opened #13 "Input validation"
We should make zipkin-js' public API fool-proof, by validating every input argument to every public function.

[2016-06-09 13:46] sveisvei commented on #13
Using typescript and generate typings could be one solution.
More low-hanging would be to use something like json-schema or joi if there are rich options objects.

[2016-06-17 14:27] hakanson opened #15 "equivalent of zipkin-java JsonCodec?"
zipkin-java has a [JsonCodec](https://github.com/openzipkin/zipkin/blob/master/zipkin/src/main/java/zipkin/internal/JsonCodec.java) class that is used by things like [ElasticsearchSpanConsumer](https://github.com/openzipkin/zipkin/blob/master/zipkin-storage/elasticsearch/src/main/java/zipkin/storage/elasticsearch/ElasticsearchSpanConsumer.java) or spring-cloud-sleuth [HttpZipkinSpanReporter](https

[2016-06-17 14:30] guyellis opened #16 "Open to an ES5 transpile build step"
If I (or someone) can work out a way to do it would you be open to accepting a PR that has a prepublish step that transpiles the ES6 code to ES5 so that ES5 restrained consumers can also use this module?

E.g. prepublish uses babel to generate output to /lib/es5/ before publish and that's the entry point for ES5 consumers. This would not impact the ES6 consumers and the current ES6 being used in t

[2016-06-17 15:36] sveisvei commented on #16
Shipping a es5 version should be fine, and is probably needed for a universal version. I am all for it atleast

[2016-06-17 21:12] eirslett commented on #15
It would be practical, but not strictly needed. This is the way things are connected:

Your application -> Zipkin server -> Backend (e.g. ElasticSearch for Cassandra)

You can also add a queue between, e.g. Your application -> Scribe -> Zipkin server, or Your application -> Kafka -> Zipkin server. If you use the scribe transport, you don't need a queue, you can send span data directly to the Zipki

[2016-06-20 22:29] hakanson commented on #15
Would a JSON codec also help browser support (a la issue #1)?

[2016-06-20 22:38] eirslett commented on #15
It would help for debugging, at least - to have a human-readable message format. (But as I mentioned, it's not a requirement for browser support)

If you want to add it, feel free to send a PR and we'll have a look! :-)

[2016-06-20 22:46] hakanson commented on #15
Is JSON codec documented anywhere other that reading the java source code? I was looking for either a spec or an example last week and not having any luck.

[2016-06-21 01:05] adriancole commented on #15
the json form is documented here in swagger.. does that help?
http://zipkin.io/zipkin-api/#/paths/%252Fspans

[2016-06-21 14:05] cwoodworth opened #17 "ScribeLogger using Scribe with ZipkinJS"
I keep receiving the error "ScribeLogger is not a constructor" when I instrument a brand new express application using the sample code provided for the Scribe implementation.  Any help on this would be appreciated.  Relevant code below...

[code]

[2016-06-21 15:17] sveisvei commented on #17
Seams there was an typo in the Readme, as `zipkin-transport-script` exports an object with an property `ScribeLogger`.

Correct line 3 to:
```const {ScribeLogger} = require('zipkin-transport-scribe');```

[2016-06-21 15:34] sveisvei commented on #15
I would also prefer JSON over http.

[2016-06-21 17:25] cwoodworth commented on #17
That fixed the compilation issues, thanks!  I can see transaction data coming in from two separate services instrumented on localhost port 3000 and port 3001 respectively, but the dependency tree is not displaying.

One of the services is configured to make a rest API call to get data from the other API service. (e.g. http://localhost:3000/users/getDependencyUsers calls http://localhost:3001/users

[2016-06-21 19:40] hakanson opened #18 "expressMiddleware.js and default port = 0"
The constructor for  [expressMiddleware](https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin-instrumentation-express/src/expressMiddleware.js#L26) takes a default value for `port` of `0`

`module.exports = function expressMiddleware({tracer, serviceName = 'unknown', port = 0}) {`

Using `ConsoleRecorder` I see log records like this, where the port is known to be 3000 as part of the

[2016-06-21 20:23] sveisvei commented on #18
It makes sense that it could pick this stuff up. PR welcome! (any input @eirslett ?)

[2016-06-21 22:36] hakanson commented on #15
It looks like [TraceId](https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin/src/tracer/TraceId.js) and [Annotation](https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin/src/annotation.js) have implemented `toString` methods that are used by the ConsoleRecorder.   Should the JSON codec be an external class or a set of `toJSON` methods on the objects proper?

Also, aft

[2016-06-21 22:56] eirslett commented on #17
You need to use zipkin-dependencies-spark in order to show the dependency tree. (Google it)
Either run it on a Spark cluster, or just java -jar it directly (as a cron job, once every day or so)

[2016-06-21 22:58] eirslett commented on #15
Look at serializeSpan, which currently supports base64 and binary. Also have a look at internalRepresentations. That span is the object that must be serialized.

[2016-06-21 23:00] eirslett commented on #18
Go ahead, that's a good change, I think!
Even better would be if the middleware had access to the server object, with knows which port it is listening on. In some cases, there could be a call like service a -> haproxy -> service b, and the Host header would then have haproxy's port, while the app would listen on some other port. We prefer that the app's port is shown.

[2016-06-22 00:29] hakanson commented on #18
I not a haproxy expert, but doesn't it change the HOST header to the target hostname and port values and require additional config if you want the original values using the standard headers??

[code]

[2016-06-23 14:24] cwoodworth commented on #17
Thanks for the guidance!  It looks like data is feeding into Zipkin and now Spark is able to run against the DB (Cass @ 2.2.4 as Cass @ 3.5 is unsupported by Spark).

[2016-06-23 14:24] #17 closed

[2016-07-05 16:29] travisby opened #19 "expressMiddleware.js must be the last middleware in the chain"
I'll post up a quick sample as soon as I have a second, but I wanted to record it here so I don't forget.

I was using both body-parser and zipkinMiddleware, with body-parser being the last item in the middleware chain.

Using getContext() + letContext() would give me a new spanid/traceid every time, rather than using the ID generated in the middleware.

(Once I can show you as an example) - is th

[2016-07-05 16:51] eirslett commented on #19
If you can post an example, that would be nice! :-)
Eventually you could start your app with the ConsoleRecorder, which logs trace data to stdout, and paste the output here!

[2016-07-06 15:50] cwoodworth commented on #19
I think I am also experiencing this issue.  Below are the details I generated from my local implementation which may help.

I have two APIs setup with zipkin and console recorder.  One API http://localhost:3000/users/getDependencyUsers makes a GET call to the other API using Superagent @ http://localhost:3001/users/get and returns the result in JSON.

One call to getDependencyUsers returns the fol

[2016-07-06 15:51] cwoodworth commented on #19
Adding App.js contents for additional context
`var express = require('express');
var path = require('path');
var favicon = require('serve-favicon');
var logger = require('morgan');
var cookieParser = require('cookie-parser');
var bodyParser = require('body-parser');

var routes = require('./routes/index');
var users = require('./routes/users');

//New for Zipkin
const {Tracer, ExplicitContext, Bat

[2016-07-06 18:04] eirslett commented on #19
The problem might be that Superagent isn't instrumented (yet). In order for Zipkin to pick up the trace state from one service to the next, you need the client to add the correct B3 headers (look at zipkin-instrumentation-fetch).
It should be fairly simple to make a zipkin-instrumentation-superagent which does the same as the fetch instrumentation. That should work.

[2016-07-08 18:35] cwoodworth commented on #19
Do you have a sample app which has instrumented fetch properly that can be shared, or can the readme be expanded to explain how all of the different packages under zipkin JS interact with each other.  I rewrote my sample app using cujojs-rest, and I am still experiencing issues.  I can provide a small express app as a starter if that would be helpful.

It seems like additional documentation around

[2016-07-09 00:06] jquatier commented on #15
I actually could use this too, and I'm going to start working on it (unless anyone already has). I have a Spring app that uses the [ZipkinHttpCollector](https://github.com/openzipkin/zipkin/blob/master/zipkin-server/src/main/java/zipkin/server/ZipkinHttpCollector.java) and need to POST the correct JSON to it.

I was planning on making a new `zipkin-transport-http` package that handles translating

[2016-07-09 22:46] eirslett commented on #15
Great initiative! Put the serialization in the same place thrift serialization takes place. (Maybe even add unit tests where it makes sense) We look forward to a PR, thanks a lot!

[2016-07-13 04:52] adriancole opened #22 "IPv6 support"
We currently support logging of only IPv4 addresses. Starting with Zipkin 1.4 endpoints can omit IPv4 (by setting Endpoint.ipv4 to 0), and optionally log Endpoint.ipv6 as the raw 16byte address.
https://github.com/openzipkin/zipkin-api/blob/master/thrift/zipkinCore.thrift#L276

In json, both are the string formatting http://zipkin.io/zipkin-api

ipv4:
 string
The text representation of a IPv4 addr

[2016-07-13 05:41] jquatier commented on #22
This is good to know for #15. I noticed we are transforming the IP address to an integer when the annotation gets recorded here: https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin/src/batch-recorder.js#L103

I don't have the background information on why that's there, but it's a problem for my JSON POST code because I only have access to the integer version when the span gets logg

[2016-07-13 05:47] adriancole commented on #22
@jquatier for the IPv4 question, assuming there's no js utility, you'd want to unpack the integer into 4 bytes and format it similar to how it is done in java:

[code]

[2016-07-13 06:13] jquatier commented on #22
That helps. I wasn't sure if it was desired to keep it as an integer when it gets passed to the logger or not. but, I can definitley unpack it during the JSON serialize. Thanks!

[2016-07-15 17:24] #15 closed

[2016-07-18 13:27] SimenB opened #24 "Upgrade kafka-node"
This transitively pulls in vulnerable minimatch (https://nodesecurity.io/advisories/118). Any chance you could upgrade?

https://github.com/openzipkin/zipkin-js/tree/master/packages/zipkin-transport-kafka

Doesn't seem like there's any breaking changes, should be straight forward: https://github.com/SOHU-Co/kafka-node/blob/master/CHANGELOG.md

[2016-07-22 09:21] SimenB opened #27 "Feature request: zipkin-instrumentation-redis"
Like https://github.com/openzipkin/zipkin-js/tree/master/packages/zipkin-instrumentation-memcached, I suppose 😄

[2016-07-22 10:48] eirslett commented on #27
I see you and your feature request, and raise with a pull-request-request! :clubs: :diamonds: :spades: :hearts:

[2016-07-22 10:49] SimenB commented on #27
I much prefer being handed features just by asking for them!
I can probably look into it, but I leave on vacation tomorrow, so won't happen for 3 weeks 😄

[2016-08-01 07:03] lukiano opened #28 "Feature request: typescript definitions"
(if they don't already exist)

[2016-08-01 07:04] eirslett commented on #28
There are none yet, but it has been discussed. Probably a good idea! I have no experience with TypeScript.

[2016-08-07 02:42] adriancole opened #29 "Support Span.timestamp/duration"
Recent versions of the zipkin thrift have the fields Span.timestamp and duration. Particularly in the case of client spans, we can set an authoritative start, with duration accurate to microseconds. This would start by updating the model to the latest thrift.

https://github.com/openzipkin/zipkin-api/blob/master/thrift/zipkinCore.thrift

[2016-08-07 02:42] adriancole commented on #29
cc @travisby

[2016-08-14 11:30] adriancole opened #30 "Make BatchRecorder browser-friendly?"
I'm trying to get zipkin-js working in the browser, by browserify'ing the following

It eventually dies on `timer.unref();` from BatchRecorder. I'm not sure if there are tricks to make it not die.

Here's my example code:
[code]

[2016-08-14 12:08] eirslett commented on #30
Maybe if timer.unref !== undefined then timer.unref()?

[2016-08-14 12:42] adriancole commented on #30
getting there! thanks

On Sun, Aug 14, 2016 at 8:08 PM, Eirik Sletteberg <notifications@github.com>
wrote:

[2016-08-14 13:34] adriancole commented on #30
fixed https://github.com/openzipkin/zipkin-js/pull/31

[2016-08-16 05:32] #30 closed

[2016-08-17 09:47] jpiechowka opened #32 "Cujojs/REST - Spans not being sent to zipkin"
I am making proof of concept client - server app with tracing via zipkin. The problem is spans are not being sent to Zipkin running on localhost when im using Cujojs/REST instrumentation. I can make request to my server (running on `http://localhost:9999`) and I can properly read Zipkin headers on the server. This is my Js client code:

[code]

[2016-08-17 10:04] adriancole commented on #32
Can you change to ConsoleRecorder and paste the results of that?

On Wed, Aug 17, 2016 at 5:47 PM, Janusz Piechówka <notifications@github.com>
wrote:

[2016-08-17 10:08] jpiechowka commented on #32
@adriancole Sure!
This is the output:
[code]

[2016-08-17 10:14] adriancole commented on #32
ok well that looks fine.. is there any error in the zipkin-server log or
dropped things on http://localhost:9411/metrics ?

On Wed, Aug 17, 2016 at 6:08 PM, Janusz Piechówka <notifications@github.com>
wrote:

[2016-08-17 10:53] jpiechowka commented on #32
There were no errors on the console.
I restarted Zipkin, this is what is in metrics before request:
[code]

This is what is after I made a request:

[code]

[2016-08-17 12:42] jpiechowka commented on #32
@adriancole This is the server code I wrote in Spark Java very fast without proper error handling, hardcoded spanId for now:

[code]

Right now only server span is sent to zipkin, and I can see it in the UI.

![zipkin](https://cloud.githubusercontent.com/assets/9040085/17736512/8b6bc668-6488-11e6-8b7f-470dbd7ddea4.png)

[2016-08-17 13:11] adriancole commented on #32
stuck on something else at the moment. can you verify that if you run my
demo you can see the spans in zipkin? maybe you can hack it for cujo..

If you can't see spans in zipkin running my branch as-is, maybe it is
something about your node setup?

https://github.com/openzipkin/zipkin-js-example/pull/1

On Wed, Aug 17, 2016 at 6:53 PM, Janusz Piechówka <notifications@github.com>
wrote:

[2016-08-17 13:19] adriancole commented on #32
basically if you can get an example project (not just a snippet), ex in a
temporary repo, it would cut down the time it would take for me to help. At
this point, it sounds like propagation isn't a problem.

If you can make a quick node server that calls youtube or something, I
don't mind taking a look at that and trying to figure out why. What you
pasted doesn't look like there's something obvious

[2016-08-17 14:01] jpiechowka commented on #32
Thanks, I will create an example project when I am at home in a couple of hours.

[2016-08-17 16:40] ocastx opened #33 "HTTP transporter does not send open records when node process is about to terminate"
The current implementation of the HTTP transporter does not send open records in it's queue when the node process finished executing (no events left in the queue).

[code]

Why shouldn't the transporter send all open records before exiting?

[2016-08-17 16:46] ocastx commented on #32
Had the same problem today with HttpLogger. What I found was that my process terminated before the Logger could send the requests to zipkin.

Just to check if this is there problem here too, you can quickly add a timeout like this to your code to let the process wait 5 seconds before exiting so the requests can be send:
[code]

I've already created a ticket why this is done in the Logger, you can

[2016-08-17 17:23] jquatier commented on #33
The reason we `unref` the timer is so the process exits when there's nothing else running in the event loop, otherwise your process would continue running forever. There's a `process.on('exit')` hook that could be used, but you can only do synchronous operations there, so that wouldn't work.

Anyway, would like to hear if anyone has a good solution. I do remember @eirslett telling me that high con

[2016-08-17 17:25] jquatier commented on #32
I do think this is the same issue as #33. I'm currently using this recorder with Restify, which keeps the server up anyway so it can handle requests, so I haven't run into this yet.

[2016-08-17 17:31] ocastx commented on #33
I would suggest adding a setTimeout with the same `httpInterval` which is overwritten every time a new span is put into the queue. With this the node process would wait the minimum time so the interval fires. Also if the queues is empty and the timeout is still running it could then be terminated so the process would not shutdown gracefully with a delay of like one sec.

I already built this to fi

[2016-08-17 17:39] jquatier commented on #33
That sounds like a good solution. I think a similar change could be made to the BatchRecorder since it also uses a timer. Hopefully @sveisvei or @adriancole can comment on this, too.

[2016-08-17 19:08] jpiechowka commented on #32
@ocastx Your solution works, this helped

[code]

[2016-08-17 19:28] ocastx commented on #32
@jpiechowka Be sure to follow #33 because the 5 sec. should not be a permanent fix for the problem.
I've also created a fork/pull request with the fix, so if you need it (without the 5 sec. timeout) you can use this until this is merged: [https://github.com/ocastx/zipkin-js](url)

[2016-08-17 19:41] jpiechowka commented on #32
@ocastx I have subscribed already. Make sure to format correctly your links, so they don't point to 404 page like right now :D

[2016-08-17 19:44] ocastx commented on #32
@jpiechowka Whoops, fixed them all. Should be working now :D

[2016-08-29 14:58] 21stio opened #38 "Same SpanID, ParentID and TraceID in every span in different services"
Hi,

I just dived into Zipkin and it's really cool so far. But I couldn't get it running perfectly.
To test the interaction I set up two express Server in docker and one is calling the other.

However, both servers emit the same Span information SpanID, ParentID and TraceID. Is that an intended behaviour, a bug or did I screw something up?

Is the Service that creates the root span (in this case `

[2016-08-29 19:50] eirslett commented on #38
That's correct behavior. When you have only one span, all the ids in the trace will be the same. There are two services/nodes (I'll call them nodes, since not all points in the graph have to be services) here, but only one span, because a span represents the interaction between two nodes.
If you introduce a third node, for example a web browser, which calls the first service, then there will be tw

[2016-08-30 00:20] adriancole commented on #38
Great explanation, Eirik

On 30 Aug 2016 3:50 am, "Eirik Sletteberg" <notifications@github.com> wrote:

[2016-08-30 08:51] 21stio commented on #38
Ah awesome, got it, thanks :)

However, the Zipkin UI span detail does not seem as expressive as imagined to me. Intuitively I would have expected the root span to be the top span. Right now the only way to see what's the root service is by looking at the url or opening the top span.
<img width="1471" alt="screen shot 2016-08-30 at 10 47 52" src="https://cloud.githubusercontent.com/assets/17232576

[2016-08-30 10:20] adriancole commented on #38
mind posting your example? or modifying this?
https://github.com/openzipkin/zipkin-js-example/pull/1

You should see a root span, for sure..

On Tue, Aug 30, 2016 at 4:51 PM, 21stio <notifications@github.com> wrote:

[2016-08-30 11:49] eirslett commented on #38
Usually, you would see a setup like this:

browser -> front-facing webapp -> microservice 1 -> microservice 2 -> database

Then, the root span would be "front-facing webapp" in the Zipkin UI. So even if the trace is triggered by the browser, the span starts at the first service.

[2016-08-31 07:19] 21stio commented on #38
Hey,

I ran another test I finally understood how it's working. The service that will be hit first is the root span even if the service that triggers the request itself is traced.

root service is root span
Browser -> root service -> child_one -> child_two

child_one is root span
root service -> child_one -> child_two

Thanks a lot guys! :)

[2016-08-31 07:19] #38 closed

[2016-09-12 16:35] jquatier opened #41 "Add configurable logger"
There are a couple places where we use console logging for errors where it would be good if you could pass in a logger to use instead of `console.error`. We can still default to console logging if that's desired, but in a lot of cases I think users will already have a logger they want to use. Should be fairly easy to implement. Examples would be in `HttpLogger` or `ScribeLogger`.

[2016-09-14 00:36] adriancole commented on #19
@cwoodworth not sure if you have seen this, yet https://github.com/openzipkin/zipkin-js/tree/master/packages/zipkin-instrumentation-fetch

[2016-09-26 04:06] ApsOps opened #43 "Request: Add support for hapi.js"
Are there any plans of adding support for [hapi.js](http://hapijs.com/)? It'd be great to have this.

[2016-09-28 07:04] byteshiva opened #44 "It would be great if there is es5 equivalent of this project"
it would be nice if there is a es5 equivalent of this project. I have converted this entire project to es5 using babel. but not tested completely.

https://github.com/byteshiva/zipkin-js-es5

It would be helpful, to run this project on version below  node 4.1.0 or something above 0.10.35

[2016-09-28 07:32] sveisvei commented on #44
We could publish with an es5/node 4 version. PR welcome for adding a buildstep that does this.

[2016-09-28 08:00] eirslett commented on #44
+1 for @sveisvei's solution

[2016-09-29 13:07] byteshiva commented on #44
I have made some changes on zipkins and thrift changes to make it work in es5/v0.10.35, Here is the gist https://gist.github.com/byteshiva/f717fb364ef0dd3f2c09ebb61da90a6d

[2016-10-01 19:26] unindented commented on #43
I've created a pull request that adds support for hapi: https://github.com/openzipkin/zipkin-js/pull/45

[2016-10-03 14:35] #43 closed

[2016-10-04 18:21] #24 closed

[2016-10-04 23:06] jdarling commented on #3
This might help, it uses process.hrtime if its available, if not it falls back to new Date.getTime

[code]

This way if you have any values past the . you know you have higher precision values available.  If not then you still have the milli's that you can utilize.

[2016-10-11 02:27] adriancole commented on #3
Thanks for the help, folks. I might try something including these tips.

[2016-10-11 11:33] adriancole commented on #3
heh I just discovered that browser-process-hrtime isn't quite right as it returns relative seconds not epoch ones https://github.com/kumavis/browser-process-hrtime/issues/4 cc @basvanbeek

[2016-10-11 14:27] adriancole commented on #3
got a bit distracted today, but made heavy progress. I will have this done tomorrow

[2016-10-12 00:02] #27 closed

[2016-10-12 04:44] adriancole commented on #29
fix https://github.com/openzipkin/zipkin-js/pull/51

[2016-10-12 04:44] adriancole commented on #3
fix https://github.com/openzipkin/zipkin-js/pull/51

[2016-10-12 09:50] adriancole opened #52 "Correctly handle remote server address"
I noticed in fetch and cujo examples like this:

[code]

In code, we aren't actually using the name as mentioned, as it is being used for the local service. In most libraries, we set the local service name (and address), as a part of initializing the tracer.

When calling an uninstrumented server, like mysql or redis, we allow you to control the ServerAddr, which helps especially in the case of th

[2016-10-12 10:13] #3 closed

[2016-10-12 10:13] #29 closed

[2016-10-12 14:38] #52 closed

[2016-10-12 14:48] adriancole opened #54 "We should probably update the README to talk about browsers"
The README focuses on node, but we do actually work on browsers. Maybe we could revise some things and suggest browserify (if that's a decent recommendation).

[2016-10-12 14:58] adriancole commented on #54
suppose we should also link the example to the README, too https://github.com/openzipkin/zipkin-js-example

[2016-10-14 09:54] pavolloffay commented on #32
@adriancole this https://github.com/hawkular/hawkular-apm/blob/master/examples/polyglot-zipkin/js-express/app.js#L93 can be used as a reproducer.

[2016-11-23 13:16] narqo opened #58 "BatchRecorder expects ServerAddr annotation to be InetAddress"
`record` method of BatchRecorder has [a piece of code][1], that tries to cast the `host` field of the annotation to integer, using `rec.annotation.host.toInt()` of your `InetAddress` class.

It seems `ServerAddr` annotation constructor doesn't have any opinion about `host` parameter, so this behaviour mightn't be expected.

For example, the `zipkin-instrumentation-redis` provides an example, which

[2016-11-23 13:56] eirslett commented on #58
That's right; we need to convert it to an IP address. Maybe we have to do a DNS lookup?

[2016-11-23 16:15] narqo commented on #58
I think the question is which component must be responsible for this conversion: Annotation, Recorder, or InetAddress?

[2016-11-23 21:27] eirslett commented on #58
It would make sense to do it in InetAddress.
But DNS lookup is async, so it can potentially be quite hairy...

[2016-11-24 02:26] adriancole commented on #58
pragmatically, I'd probably do anything that does dns lookup up-front, and then re-use the result as the server address, or sneak into redis code and pull the actual ip from there.

[2016-11-24 03:49] narqo commented on #58
I can't be 100% sure, but it doesn't feel that making a call to the system's `getaddrinfo` (which is underneath the `dns.lookup()`) is an operation that one must care so much. Having a local DNS cache might bring much more troubles. And looks like every net socket connection does `dns.lookup` anyway.

It'd be much more intuitive if `BatchRecorder` dealt with host-to-ip conversion by itself. I thin

[2016-11-24 06:21] adriancole commented on #58
bear in mind I think this is really a special case we are looking at for redis. the wrong data was placed into a field. Adding responsibility at BatchRecorder is probably not a right fit even if an easy answer.

[2016-11-24 06:22] adriancole commented on #58
in other words, let's try to solve this at the right abstraction, wherever that is.

[2016-11-24 06:39] adriancole commented on #58
taking a peek, here's my 2p on this..

* BatchRecorder isn't the only path, so probably better to solve this in the actual record types
* ServerAddr and LocalAddr don't inspect the contents to see if the host is an address or just a string etc.

It might be best for BatchRecorder to not attempt to coerce to an int (which assumes ipv4). In other words, simply pass the input fields directly to the E

[2016-11-24 08:58] narqo commented on #58
I totally agree. By saying that `BatchRecorder#record` should be changed, I mostly meant that this is a place that could be made async, without harming the whole API. The exact coercing might be done in a sort of "fabric" function, that would asynchronously return a proper instance of the `Endpoint` (believe me, you don't want to make the class constructor itself async :))

[2016-11-24 09:00] narqo commented on #58
For me, `makeEndpoint()` of [zipkin-go-opentracing](https://github.com/openzipkin/zipkin-go-opentracing/blob/master/zipkin-endpoint.go) is the solution that do things properly. We only need to port it to node.js.

[2016-11-24 09:49] adriancole commented on #58
I'm not implying the conversion happens in the Endpoint constructor.. I
didn't mean to say that if I did. I said blindly pass what was given you to
the constructor. It just needs to be addressed sometime before it is
reported/logged. By centralizing the concern to sometime between getting
Endpoint and it being converted to json or thrift, we solve it all three
cases of endpoint vs whack-a-mole.

N

[2016-11-24 10:06] adriancole commented on #58
ps I suspect status quo is breaking things? should we just delete that entry temporarily? for example, zipkin works fine without ServerAddr, so if spans are being dropped we might want to tactically patch and release (like now) until the PR that addresses this for all is in.

[2016-12-05 21:36] StarpTech opened #60 "Missing strict modes"
Hi, I can not run zipkin because missing strict modes.

Node: 4.6.0
[code]

[2016-12-05 21:41] eirslett commented on #60
zipkin-js requires Node.js 6 or newer.

[2016-12-05 21:41] #60 closed

[2016-12-06 01:38] StarpTech commented on #60
ok I already thought it. Adding https://docs.npmjs.com/files/package.json#engines would prevent it. Thanks.

[2016-12-09 22:07] zackangelo opened #61 "Span durations appear to be incorrect for hapi.js middleware"
Lengthy requests exceeding several seconds are being reported as 1-2ms.

Wrote a failing test here: https://github.com/zackangelo/zipkin-js/blob/fix_hapi_span_duration/packages/zipkin-instrumentation-hapi/test/integrationTest.js#L157

Has anyone else noticed this? If so, or seems entirely possible, will open a PR to fix.

[2016-12-10 02:04] adriancole commented on #61
haven't noticed, but you are right we don't have reality check test on duration. Assuming the indexes in the test are correct, then that implies the following either isn't the right hook or it isn't being invoked asynchronously (or something else)

[code]

[2016-12-11 11:59] eirslett commented on #61
Maybe we are mixing micros and millis somewhere?

[2016-12-12 18:06] zackangelo commented on #61
According to [the request lifecycle docs](https://github.com/hapijs/hapi/blob/master/API.md#request-lifecycle), the current hook we're using (`onPreResponse`) executes after the request has been processed.

[2016-12-15 23:21] #61 closed

[2016-12-21 00:24] adriancole commented on #44
I think this is a dupe of #16 please re-open if not

[2016-12-21 00:24] #44 closed

[2016-12-21 00:52] adriancole opened #65 "Bridge V8 tracing info"
from @rektide

https://twitter.com/rektide/status/811373060444057601

[2016-12-22 17:19] sveisvei commented on #65
Im keeping an eye on async wrap and friends landing on master - so we can get cls like stuff without the patchwork.

[2016-12-22 17:31] eirslett commented on #65
I suppose zipkin-context-v8 or something like that could be a plugin? Possibly work with a custom build of node.js until it has landed.

[2017-01-19 03:14] peaksnail opened #71 "How to know current call stack has finished"
hi team,I have a doubt that  the zipkin-js agent how to know current callstack has finished and then send the traced data to collector?

[2017-01-19 12:44] adriancole commented on #71
currently, a span is marked finished when "cr" or "ss" is received

https://github.com/openzipkin/zipkin-js/blob/1b7f0664a7a4a6859de73461e89b135bf0983d0f/packages/zipkin/src/internalRepresentations.js#L137

otherwise it is flushed after 60 seconds

https://github.com/openzipkin/zipkin-js/blob/3c2b12f3875ad856d7039dc5ada0c5dfbb1ae431/packages/zipkin/src/batch-recorder.js#L13

[2017-01-20 06:15] peaksnail commented on #71
Thanks very much. So if I develop some new plugins, I should mark 'cr' or 'ss' in span for current call stack which I should know has finished.Or I just wait for timeout. Am i right?

[2017-01-20 06:29] adriancole commented on #71
If you are writing a plugin for an RPC framework then follow the others,
like this...

tracer.recordAnnotation(new Annotation.ServerSend());

If you are working on a non-RPC tracing, then reply back for advice

[2017-01-21 12:14] jthomas commented on #33
I also hit this issue during development of a [new instrumentation](https://github.com/jthomas/zipkin-instrumentation-openwhisk) for a serverless function platform.

Serverless platforms spawn a new process for each invocation. Once the function handler returns, the process is terminated. This means the final spans often haven't finished sending before the process exits.

I [worked around](https:/

[2017-01-23 00:52] adriancole commented on #33
most instrumentation I've noticed attempt to flush on close, although not always via a shutdown hook. For example, in the java side, up to 1 second of blocking is permitted before spans are dropped on close

[2017-01-23 00:56] adriancole commented on #33
@jquatier curious about the statement about not being able to do synchronous operations.. in a shutdown scenario, would synchronous flush (with timeout) be a problem ? (I understand why it would be in a non-shutdown one).

[2017-01-23 00:57] adriancole commented on #33
added "help-wanted" as at least 3 libraries are hacking around this, and at least to me, that suggests we could either document or support a pattern for this.

[2017-01-23 15:28] eirslett opened #72 "Windows build, yet again"
Looks like the prepublish script (for babel) doesn't work on Windows... we need to have a look at porting it so that it works on all platforms. (I think it should be possible to release zipkin-js from a Windows machine if needed)

[2017-01-23 15:48] eirslett commented on #72
@tonypizzicato do you have access to a Windows machine to debug a little bit on?

[2017-01-31 16:58] devinsba opened #73 "Feature request: GRPC client/server interceptors"
It would be nice to have interceptors similar to the grpc ones from openzipkin/brave

[2017-01-31 20:56] devinsba commented on #73
Turns out there is a missing feature in the nodejs grpc library: https://github.com/grpc/grpc/issues/8767

[2017-02-01 01:25] adriancole commented on #73
since zipkin is very much like google cloud trace, we can probably borrow approach from them https://github.com/GoogleCloudPlatform/cloud-trace-nodejs

[2017-02-01 15:54] devinsba commented on #73
Their approach overall is quite nice, if I end up with time I'll take a crack at implementing it.

If someone else gets to it first: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/src/hooks/userspace/hook-grpc.js

[2017-02-09 06:14] #71 closed

[2017-02-22 16:15] nickcodefresh opened #75 "Configurable sample rate"
In my Spring Cloud Sleuth library I can set a sample resolution for zipkin integration (e.g. 10% of spans are published per instance). Can this library be configured in a similar way?

https://github.com/spring-cloud/spring-cloud-sleuth/blob/master/README.adoc

[2017-02-27 04:47] adriancole commented on #75
unlike sleuth, this project doesn't assume a specific configuration library. So, when you configure the library, you'd choose how to specify things like the sample rate. Example of wiring up is here:

https://github.com/openzipkin/zipkin-js/tree/master/packages/zipkin

Moving forward, I don't know what the status quo configuration tools are for browser or node apps. It may be the case that such li

[2017-02-28 03:13] huanli2 commented on #75
I found the example have something wrong when i try to use it to set the sample rate for my project.
1,new zipkin.CountingSampler(0.01) should be new zipkin.sampler.CountingSampler(0.01)
2,missing two ","

[2017-02-28 03:18] adriancole commented on #75
thanks, do you mind fixing it? (raise a pull request by editing the
incorrect file)

[2017-02-28 07:48] huanli2 commented on #75
pull request:
https://github.com/openzipkin/zipkin-js/pull/76

actually, when I debug into the tracer code, and the sample rate can print correctly, but this configuration doesn't work with my express + zipkin-instrumentation-express.

"It may be the case that such libraries will turn-up, similar to how dropwizard-zipkin was made in java to bind dropwizard-style config on top of brave."  do you ha

[2017-03-02 08:44] nickcodefresh commented on #75
Thanks guys, works a treat

[2017-03-02 08:44] #75 closed

[2017-03-08 20:44] muymoo commented on #72
The AppVeyor build is currently failing on:
[code]

Some ideas:
- Lerna requires you to add binary devDependencies to each package:

https://github.com/lerna/lerna/blob/master/README.md#common-devdependencies

Add `babel-cli` as dependency to each packages' package.json. Change `../../node_modules/.bin/babel src -d lib` to `babel src -d lib`

- This is a open issue with npm: https://github.com/npm

[2017-03-08 22:31] rexxars commented on #72
I had a look at this in #82 - most tests are running now. Check out that PR for more details on what is currently failing.

[2017-03-09 09:33] rexxars commented on #72
Tests seem to be passing in #82 now.

[2017-03-09 10:09] rexxars commented on #72
And now in master :-1:
Should be able to close this now.

[2017-03-09 14:02] #72 closed

[2017-03-20 21:43] ethanrubio commented on #73
👍  Would love to see this as well!

[2017-03-24 05:43] feifeiiiiiiiiiii opened #88 "Question or Bug?"
I use `restify` and `redis` to test `zipkin-js`, script as follow
[code]
But get result is not expected

![2017-03-24 1 32 20](https://cloud.githubusercontent.com/assets/3310967/24282006/cb2d97a2-1097-11e7-8c67-aedbf5806b42.png)

[2017-03-24 06:21] feifeiiiiiiiiiii commented on #88
my mistake

[2017-03-24 08:42] eirslett commented on #88
Try with CLSContext? With ExplicitContext you have to keep track of the context manually/explicitly.

[2017-03-24 08:47] feifeiiiiiiiiiii commented on #88
@eirslett Use CLSContext also not right, I doubt `currentCtx` not right

[2017-03-24 10:11] feifeiiiiiiiiiii commented on #88
@eirslett I try to modify CLSContext's `scoped` function [patch](https://gist.github.com/feifeiiiiiiiiiii/b56ca4259c8e22b060b6fcfb1eb03ef7)
[code]

and get result look like right, and I think `CLSContext` `_session` should save the newest `ctx`, but now can't get newest `ctx`

please help me to solve the problem

[2017-03-24 14:46] eirslett commented on #88
The way it works, is that the context has a value outside of a scope, inside a scope you can set a new value, and that new value will be used until the end of the scope - after that, the old value will be back.

[2017-03-24 15:37] feifeiiiiiiiiiii commented on #88
my patch can solve the problem and can merge ?

[2017-03-26 23:32] ppg commented on #88
This seems like a fundamental flaw of the restify and express instrumentations:
https://github.com/openzipkin/zipkin-js/blob/9806955a8a0cf5cd6fd06f22e07f89809515ce11/packages/zipkin-instrumentation-restify/src/restifyMiddleware.js#L99
https://github.com/openzipkin/zipkin-js/blob/9806955a8a0cf5cd6fd06f22e07f89809515ce11/packages/zipkin-instrumentation-express/src/expressMiddleware.js#L99

I think t

[2017-03-27 01:12] adriancole commented on #88
I think I get what the concern is: how do we get async callbacks to honor the scope we think they ought to be in? I think this is an implicit (no pun intended) challenge in the act of instrumenting. Each library will behave differently. The way I have recently thought of it is this..

1. When instrumenting, it is the instrumentation author's job to propagate the trace identifiers between the reque

[2017-03-27 01:52] feifeiiiiiiiiiii commented on #88
@eirslett  thanks for your detailed answer

[2017-03-29 17:09] jondb opened #93 "upstream security vulnerabilities in `ws`"
Hi - you're using `thrift` and `thrift` is using `ws`. `thrift` has not patched an old security vulnerability in `ws`.

https://nodesecurity.io/advisories/120 and https://nodesecurity.io/advisories/67

Thrift has an issue here: https://issues.apache.org/jira/browse/THRIFT-4064

Any chance you can urge thrift to patch?

[2017-03-29 20:29] eirslett commented on #93
Things happen slowly at upstream thrift. I think the best thing zipkin users can do, is to pin the version of ws. zipkin-js isn't using ws, or using the part of thrift that is using ws.

[2017-03-29 20:29] #93 closed

[2017-03-30 08:40] yzfshuijing opened #94 "sampler"
function makeCountingEvaluator(sampleRate) {
  if (sampleRate <= 0) {
    return neverSample;
  } else if (sampleRate >= 1) {
    return alwaysSample;
  } else {
    let counter = 0;
    const limit = parseInt(1 / sampleRate);
    const counting = function counting(traceId) { // eslint-disable-line no-unused-vars
      counter = counter % limit;
      const shouldSample = counter === 0;
      coun

[2017-03-30 12:19] isayme opened #95 "zipkin-instrumentation-request not published to npm"

[2017-03-30 14:10] adriancole commented on #95
this is out in 0.7.0

[2017-03-30 14:10] #95 closed

[2017-03-30 17:51] eirslett commented on #94
Look at [the unit tests](https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin/test/sampler.test.js#L42), they document how it works.

[2017-03-30 17:51] #94 closed

[2017-03-31 02:25] yzfshuijing commented on #94
thanks for your answer
I know how to use the CountingSampler, but if i want  sample 90 % of all incoming requests,
"const countingSampler = new CountingSampler(0.9); "
in your code, it will be 100%, not 90%,

[2017-03-31 03:44] adriancole commented on #94
If thats the case, should be a bug that can be found by adding a unit test.
Are you up to making a test that shows the problem and fixing it?

On 31 Mar 2017 10:25, "yzfshuijing" <notifications@github.com> wrote:

[2017-03-31 05:17] yzfshuijing commented on #94
@adriancole
describe('CountingSampler', () => {
  it('should count, and sample every fourth sample (sample rate 0.8)', () => {
    const sampler = new CountingSampler(0.8);
    const s = () => sampler.shouldSample(makeTestTraceId({}));

    const sampled = [s(), s(), s(), s(), s(), s(), s(), s(), s(), s()];
    const expected = [T, T, T, T, T, T, T, T, T, T];

    expect(sampled).to.deep.equal(exp

[2017-03-31 05:51] yzfshuijing commented on #94
@adriancole
you can see the source code
function makeCountingEvaluator(sampleRate) {
if (sampleRate <= 0) {
return neverSample;
} else if (sampleRate >= 1) {
return alwaysSample;
} else {
let counter = 0;
const limit = parseInt(1 / sampleRate);
const counting = function counting(traceId) { // eslint-disable-line no-unused-vars
counter = counter % limit;
const shouldSample = counter === 0;
counter+

[2017-03-31 08:09] adriancole commented on #94
No offence but i think this issue is being over discussed. If there is an
obvious bug just needs someone to fix it. If you cant fix it, then just
need someone else to.

On 31 Mar 2017 1:51 pm, "yzfshuijing" <notifications@github.com> wrote:

[2017-04-02 12:29] ImFlog opened #96 "zipkin-js span name customizer"
Hello,
Not sure if I missed something but I think there is no possibility to customize the span name in zipkin-js.

![capture d ecran 2017-03-30 a 16 08 55](https://cloud.githubusercontent.com/assets/5982268/24586913/1f7fc5f8-17ac-11e7-8654-4f4faaa76e4d.png)
For example, in the previous screenshot, I would like to show something else than "get" for the first calls (js), rest of the app is polyglot

[2017-04-02 14:39] eirslett commented on #96
It's not possible to change, because it's following the B 53 tracing spec (more or less). What you can do is add custom binary annotations to the span, then you can add whatever you want.

The UI could be improved to make it easier to show custom annotations, I guess...

[2017-04-02 14:40] #96 closed

[2017-04-02 17:38] ImFlog commented on #96
Thank you for your answer.
The problem is not about an particular annotation. After looking at the code, I found that the sent span looks like this :
`{
    "traceId": "9acbf7ffa64bb1b8",
    "id": "9acbf7ffa64bb1b8",
    "name": "get",
    "timestamp": 1491153705263968,
    "duration": 1271691,
    "annotations": [`
And I use the same kind of code that the samples gives in the README. In the cujo

[2017-04-03 01:30] adriancole commented on #96
https://github.com/openzipkin/zipkin-js/pull/97 should explain more

[2017-04-06 05:30] ppg commented on #88
@adriancole thanks for the response. I don't think we're in any disagreement, but for your item 2, per the example @feifeiiiiiiiiiii provided, using CLS with `scoped` doesn't actually scope it and downstream code won't be able to 'see' it, only synchronous code will 'see' it. Its hard (for me) to imagine many uses of express that don't have some asynchronous behavior in their middleware and endpoi

[2017-04-06 06:33] adriancole commented on #88
I think perhaps the interactions around "scoped" need more exploration. I don't know how scheduling works here. Maybe we can get more specific, like raise a test which has a user-provided code which needs to add to a trace, and show how scoping doesn't work? It would be faster for me to help as I am not as good in js as others..

One thing I'd like to see is if there's an instrumentation approach

[2017-04-07 06:45] rooftopsparrow opened #99 "Scribe transport throws when given an Annotation.ServerAddr"
By applying this patch to the test in zipkin-transport-scribe

[code]

I get this error:

[code]

The error occurs on the latest package version on latest node v7 and v6.

**Update**:

I did more debugging on this and found a UInt8Array in the span that the thrift library expects to be a Buffer with the copy method.

I changed the offending line and it no longer fails.

[code]

Pull Request inboun

[2017-04-11 23:58] #99 closed

[2017-04-13 10:37] hafeyang opened #101 "context lost when tracing?"
i focked this repo at [https://github.com/hafeyang/zipkin-js/tree/master/packages/zipkin-instrumentation-mongodb]

[code]
here is my test code , annotations logged and i found traceId changed,and i got 2 traceId.

may caused by context losing

detailed err description and code  pls check [https://github.com/hafeyang/zipkin-js/tree/master/packages/zipkin-instrumentation-mongodb]

Thanks!

[2017-04-14 16:03] hafeyang commented on #101
anyone can pr mongodb instruments ? I am confused.

[2017-04-15 06:29] adriancole commented on #101
Maybe do a github search to see if anyone else is making custom tracing for
mongo using zipkin-js?

On 15 Apr 2017 12:03 am, "阳衡锋" <notifications@github.com> wrote:

[2017-04-16 05:58] adriancole commented on #101
I looked around and found almost universally people are instrumenting mongodb with a shimmer of some sort.

[2017-04-16 17:47] shuchitaprasad opened #102 "How to override endpoint(http://localhost:9411/api/v1/spans) property of classzipkin.reporter.urlconnectio.URLConnectionSender of"
I have a cloud slueth zipkin application A1 in spring boot. I also have a zipkin server application A2 in spring boot.When I run the zipkin server A2 at localhost at default port 9411, then A1 trace ids are sent to zipkin server A2. When the port of the zipkin server is changed and is successfully started at the new port 9455, the application A1 fails to send logs to zipkin-server. URLConnectionSe

[2017-05-02 04:45] adriancole opened #104 "local tracing"
There are a number of zipkin libraries supporting local tracing (operations that spawn in-process and are not RPCs).

We've recently had a request by @wirehead for how to do this.

[code]

## workaround
I suggested a workaround, which is to use Client annotations while we figure out how we want to address this here.

[code]

There's a background issue in finagle which might steer implementation. h

[2017-05-02 04:49] adriancole commented on #104
FWIW, here's a proposal I made in finagle a while back. I didn't implement it because there weren't enough people engaged on the topic. You know me.. rule-of-three

[code]

[2017-05-02 11:33] eirslett commented on #104
We can do something like

[code]
then you're guaranteed that start() and finish() will be called correctly.

[2017-05-02 12:28] adriancole commented on #104
works for me. @wirehead @fedj others.. any opinions?

[2017-05-23 02:22] Odravison commented on #102
Hey Man, I know that is a old post, but if you can help me ...
I'm getting this erro:
[code]
This Microservice is running at AWS. I think that is firewall's issue.

[2017-05-29 23:43] luismendozamx opened #106 "Question: Promisified libraries"
I've successfully integrated zipkin on some of our services. In most of them we are using Bluebird to [promisify](https://github.com/NodeRedis/node_redis#promises) the `redis.RedisClient` and we are using [`request-promise`](https://github.com/request/request-promise) for external service request, which also uses Bluebird internally.

What is the best approach to wrapping a promisified `redisClien

[2017-05-30 12:33] eirslett commented on #106
I believe promisifying code shouldn't have any effect on zipkin instrumentation at all. Does it stop it from working?

[2017-05-30 16:15] luismendozamx commented on #106
I have only tried it for redis @eirslett.

From going through the instrumentation code I'm pretty sure why it doesn't work.

In the case of redis, using Bluebird to promisify it creates new methods with the `Async` word appended to [the method's name](https://github.com/NodeRedis/node_redis#promises). This commands are not taken into account in the ['redis-command' list](https://github.com/openzip

[2017-05-30 20:01] eirslett commented on #106
It's correct that Bluebird adds promisified methods `doXxxAsync()` but these methods again call `doXxx()` which is instrumented by zipkin-instrumentation-redis. Isn't that correct?
If you use the console tracer, you can start your app and see if it logs traces to the console correctly?

[2017-05-31 02:53] luismendozamx commented on #106
@eirslett That's correct for request-promise, I've successfully managed to trace calls using the same wrapper for request. But for redis, it's not working. The stack trace I posted above was from an error using zipkin-instrumentation-redis with a Bluebird promisified node-redis.

[2017-05-31 13:41] eirslett commented on #106
:-(

Just to reproduce, can you add an integration test?
Fork this project and add `packages/zipkin-instrumentation-redis/test/bluebird-integrationTest.js` similar to the other example, but where the client is Bluebird-promisified.

[2017-05-31 15:33] luismendozamx commented on #106
Sure, I'll add the tests.

[2017-06-29 03:15] clementchi commented on #19
@adriancole, I use zipkin middleware and zipkin request wrapper and express http proxy wrapper. I am experience the same thing as @cwoodworth. I notice context is not continuing between middleware and wrappers. I tried using zipkins context cls and it should connect the context but it ends up having same issue. In the end, I have to pass context using the request/response object and setContext wit

[2017-07-07 12:48] adriancole opened #107 "Backfill LocalAddr when missing"
Right now, only the server-side code add the annotation LocalAddr, usually when they have a port

[code]

https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin-instrumentation-express/src/expressMiddleware.js#L85
 
The client side doesn't, but it should as otherwise annotations are allocated to IP "unknown"

One way is to go through all the client libraries and do the following when

[2017-07-10 08:27] pdqsoftware-datax commented on #102
Hi Odravison,
Did you resolve your issue above?
I am getting exactly the same thing now on a local server - where everything lives - so I am pretty sure it is not a firewall issue.
Any pointers would be useful.
Thanks
Paul

[2017-07-10 08:43] adriancole commented on #102
you are posting issues about spring-cloud-sleuth on zipkin-js (javascript repository). There is no code related to the issue you are mentioning here. Please post on appropriate forums. For general troubleshooting of spring-cloud-sleuth https://gitter.im/spring-cloud/spring-cloud-sleuth

[2017-07-10 08:43] #102 closed

[2017-07-13 17:12] mareq opened #109 "OpenTracing compatibility (question)"
[OpenTracing](http://opentracing.io/documentation/pages/supported-tracers) website proclaims that [Zipkin](http://zipkin.io/) is one of the supported implementations. However, the interface of the [tracer](https://github.com/openzipkin/zipkin-js/blob/08f86b63a5fd7ded60762f537be1845ede588ffa/packages/zipkin/src/tracer/index.js#L14) provided by `zipkin` does not seem to be any close to the official

[2017-07-14 00:00] grisanu opened #110 "`express-http-proxy` had a major release that deprecates many methods"
See https://github.com/villadora/express-http-proxy

[2017-07-14 02:43] adriancole commented on #109
We don't control the OpenTracing website. There are some OpenTracing
libraries that include zipkin support. Zipkin has a vast ecosystem that
predates, is larger than, and is not limited to apis that the OpenTracing
leadership decides on. Most things in zipkin are from end-users who
contribute back in ways that are native to and work best with Zipkin.

Work here is based on volunteers. However Open

[2017-07-14 10:48] mareq commented on #109
Thank you Adrian for fast and detailed response, it was very helpful. I guess I have a few choices: a) abandon OpenTracing idea and go the Zipkin way; b) try to build the OpenTracing bridge over zipkin-js; c) abandon Zipkin idea and use some other OpenTracin-compatible tracer (possibly Jaeger?).

My original take on it was that I am not too keen to marry any of the implementations, so the OpenTrac

[2017-07-14 10:59] adriancole commented on #109
OpenTracing markets this ideal, but despite multiple attempts has made no
effort to introduce tests that would make interop visible, much less
possible between implementations. I'd love for this to change, but I guess
some just never switch systems?

However, your saying that "OpenTracing is an api that changes a lot more

The choice is ultimately yours, but given there are no tests in opentracing

[2017-07-17 15:25] marcelogft opened #111 "zipkin-instrumentation-fetch - get the traceId"
Best way to get the generated _traceId_?

Currently is generated inside the **wrapFetch**:
...
`tracer.scoped(() => {
        tracer.setId(tracer.createChildId());
        const traceId = tracer.id;`

And added as request header: **x-b3-traceid**
` const zipkinOpts = Request.addZipkinHeaders(opts, traceId);`

But what happens if we want to use that traceId later to access the Zipkin API? for examp

[2017-07-18 16:58] pratsonii commented on #102
Hi Odravison,
I am facing same issue. Did find the work around?

[2017-07-18 17:38] Odravison commented on #102
Hi, @pratsonii
This issues has relation with endpoint.
As I told to Paul Pritchard, has sometime that I solve this issue and forgot the solution. But I remember that has a relation with endpoint, in my case, was the Zuul Proxy that I had configured was the cause of my problem. Are you using Zuul Proxy?

In resume, take a look to your endpoint.

[]'s

[2017-07-19 01:55] adriancole commented on #102
This is not a java repository, it is a javascript repository. It seems from discussion you are using spring-cloud-sleuth. Please carry any troubleshooting conversation on their gitter or stackoverflow https://gitter.im/spring-cloud/spring-cloud-sleuth

I'm locking comments as they continue to spam an unrelated project

[2017-07-20 13:19] shumsky opened #112 "Question: add instrumentation support of koa (HTTP framework)"
Hi,

Recently I needed to integrate a koa based microservice with zipkin. I didn't find any existing integrations and had to write my custom middleware. Now I'm thinking about contributing it to open source. Would it be reasonable to add corresponding module to zipkin-js/packages?

[2017-07-20 14:16] adriancole commented on #112
@vicanso I've seen you have some experience with koa and zipkin. Do
you have any middleware put together like this?

[2017-07-21 01:44] awesomemarcus opened #113 "Q: instrumentation for socketio based web app."
I have done a lot of research lately, and I just can't find any implementation of Zipkin with socket based app (SPA).

[2017-07-21 07:26] eirslett commented on #113
There usn't an instrumentation yet, so you'll have to make one yourself.

[2017-07-25 12:32] vicanso commented on #112
@adriancole  I am not familiar with zipkin and I am not going to write the middleware at this moment.  Sorry for any inconvenience.

[2017-07-27 07:39] DanielMSchmidt opened #114 "Compatability with non-node environments"
Hey there,

First of all thanks for this great project, it really helps us tracing performance issues in our stack. For the last part of the stack, the react native mobile app, we ran into an issue:

[Zipkin requires](https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin/src/InetAddress.js#L1) the package `network-address` to determine the current IP automatically in [`getLocalAddres

[2017-07-27 07:41] adriancole commented on #114
please do. this was an accident I suspect. thanks for raising the issue and
offering help!

[2017-07-27 12:14] #114 closed

[2017-08-01 04:19] lnshi commented on #73
+1

[2017-08-01 04:42] adriancole commented on #73
https://github.com/grpc/proposal/pull/14 indicates a future interceptor model (which doesn't necessarily help now)

[2017-08-09 12:59] SimenB opened #118 "Upgrade to kafka-node@2"
Might want to create a separate transport for people not using zookeeper

[2017-08-10 02:20] adriancole commented on #118
agreed. clientOpts currently has the `connectionString` (which is clearly ZK) In other libraries we expose `bootstrapServers`, which is mutually exclusive and hints a more recent version of kafka.

Assuming library versions would be different, would this mean adding zipkin-transport-kafka10 (which is the first version not requiring ZK for consumers?), or are current kafka libraries backwards compa

[2017-08-10 06:51] SimenB commented on #118
Kafka-node@2 works for 0.8 as well, but the constructor to the clients are a bit different (newer are simplified APIs (just a single object), but that also makes it a bit harder to support both in parallel).

[2017-08-10 06:52] SimenB commented on #118
Docs for new client: https://github.com/SOHU-Co/kafka-node/blob/a102a48b3018a11aa479bd7b8a1bcc8599802e22/README.md#kafkaclient

[2017-08-17 01:14] #118 closed

[2017-08-17 05:44] Strandedpirate opened #120 "ParentId not being set"
I've instrumented an express.js restful API app with both zipkin-instrumentation-express && zipkin-instrumentation-fetch per the corresponding readme's.

Calls to the app's endpoints and any fetch's made from those endpoints are being logged in zipkin however the fetch calls do not contain the parentId associated with the incoming request generated by the express middleware and therefore there is

[2017-08-17 05:52] adriancole commented on #120
outbound requests should have parentId set to the inbound request id.
in other words, the outgoing client span should be a child of the
incoming server span.

you can use the  new zipkin.ConsoleRecorder() to show the behaviour
(instead of reporting to zipkin, to understand it)

[2017-08-17 15:41] Strandedpirate commented on #120
Should, but it's not. I put the sample app here: https://github.com/Strandedpirate/zipkin-span-test

Have I set it up incorrectly?

[code]

[2017-08-18 02:28] adriancole commented on #120
I think you should be using zipkin-context-cls instead of explicit to get what you want. I tried and looks fine. Re-open if you find otherwise!

[code]

[2017-08-18 02:28] #120 closed

[2017-08-31 12:44] SimenB opened #124 "Feature request: async_hooks based context"
Node 8 has a new async hooks module, which should be able to replace `zipkin-context-cls` entirely, as well as work better (i.e. at all) for promises.

It's still experimental, but not behind a flag. No polyfills exists for older nodes (lots of C++ in the implementation, so probably not incoming either).

https://nodejs.org/api/async_hooks.html

Obligatory hype blog post: https://medium.com/the-no

[2017-08-31 12:46] SimenB commented on #124
Might be worth taking a look at a bridge for cls: https://www.npmjs.com/package/cls-hooked

[2017-09-01 05:34] edukondalugorla opened #125 "req.header is not a function"
Hi, I am using  zipkin-instrumentation-express as express js middlewarwe.  I am getting  "req.header is not a function" error.

[2017-09-01 05:44] adriancole commented on #125
sorry to hear that. what version of express are you using?

[2017-09-01 06:07] edukondalugorla commented on #125
Please find versions

"zipkin-instrumentation-express": "^0.7.3"
"express": "^4.13.3",

[2017-09-01 10:27] eirslett commented on #125
Try to console.log the req object? If it comes from express, then req.header should be present; it should be an alias for req.get.

[2017-09-11 08:43] #125 closed

[2017-09-13 00:14] shinmyung0 opened #128 "How to get the traceId, parentId, spanId of current request to use outside the tracer?"
So I am currently trying to inject the traceId, parentId, spanId into a custom logger. When I try out the `ConsoleRecorder` I can see that the information is there within the record that is being passed in. But what I want is to not log at the record level, because I want to be able to control what I log.

What would be best is if I could have some handle on what the current traceId is within the

[2017-09-13 09:11] adriancole commented on #128
my guess is that when you print the trace ID, one hasn't started yet.
There's a Tracer.scope function which allows you to push an ID onto the
context (such that downstream reuse it).

[2017-09-13 18:04] shinmyung0 commented on #128
Thanks for the quick reply @adriancole. But is there a way I could make sure I grab the trace without  manually pushing an ID? The API that I am testing this on is the where the root traceId is generated. I am currently using the `zipkin-instrumentation-express` library along with `zipkin-instrumentation-axios` [here][axios-link]. I looked at the code for the express middleware, and it seems there

[2017-09-13 21:35] shinmyung0 commented on #128
So I've narrowed down the problem to the `CLSContext` being lost inside of my Apollo graphql server middleware. Can anyone with more familiarity with cls maybe weigh in on this?

[2017-09-14 10:58] adriancole commented on #128
if you can narrow it to CLS being lost across your middleware, it is
possible you could ask apollo for help? Then you could take that
recommendation into your middleware and solve the problem.

[2017-09-14 15:32] shinmyung0 commented on #128
Thank you for your help. I will take it up on their end.

[2017-09-14 15:32] #128 closed

[2017-09-18 08:48] SimenB commented on #124
https://www.npmjs.com/package/asyncctx

[2017-09-19 12:46] kohv commented on #112
@shumsky I would be interested. Maybe you could create a PR for this?

[2017-09-20 06:21] dail opened #129 "express middleware exception when contains flags"
when header contains flags, an exception is thrown in these codes:

[code]
the type of `currentId.traceId` and `currentId.parentId` is `String`.

[2017-09-20 22:57] shumsky commented on #112
@kohv Yes, I'm going to work on it.

[2017-09-27 19:44] joepuzzo opened #132 "TracerId is set to None when no tracer id is present"
In the index file under `zipkin-js/packages/zipkin/src/tracer/index.js` there is a function called createRoodId.

This function  generates a traceId with `traceId: None`. According to the zipkin [spec](http://zipkin.io/pages/instrumenting.html) the following should be true. "When an incoming request has no trace information attached, we generate a random trace ID and span ID. The span ID can be re

[2017-09-28 14:47] shumsky commented on #112
Hi,

I'm ready to open a PR. But I've just realized there might be a problem. I've written a middleware for Koa 2.x which requires Node 7 and higher (because of async/await). There are two points.

1. zipkin-js is transpiled to ES2015. This doesn't seem to be a problem, since async-await is transpiled into promises and generators which works fine with Koa 2.x.

2. Travis runs tests on Node 4, 6 an

[2017-10-15 08:38] lukiano opened #138 "Feature request: Custom timestamps for MutableSpan"
Currently MutableSpan sets the time when the instance is created as startTimestamp and sets endTimestamp when CLIENT_RECV or SERVER_SEND annotations are set.
I'd like to set custom timestamps in case where I'd like to send a span to the collector, not based on real-time data, but on historical data taken from, let's say, a log.

[2017-10-15 16:25] eirslett commented on #138
I think you can override them directly:

[code]

[2017-10-16 05:44] lukiano commented on #138
True (at least in Javascript, not so much in Typescript), but I'm not actually creating MutableSpan, BatchRecorder is.
I guess I could _extend_ it and override the `record` method

[2017-10-16 08:35] eirslett commented on #138
Yup, try doing that and see if it works!

[2017-10-17 00:48] lukiano commented on #138
I see the classes from internalRepresentations are not exported: `MutableSpan`, `Endpoint`, Annotation`, etc.

[2017-10-19 05:11] adriancole commented on #138
curious.. if you are just recording spans after the fact, would a normal "span" model help? ex one where you set everything at a time, including the name etc?

[2017-10-19 10:14] eirslett commented on #138
Yes, exporting the internalRepresentations would be kind of an oxymoron... it's only an implementation detail for this client, and could change at any time if we find a better solution.

Is it possible to use the external Span model instead of MutableSpan?

[2017-10-20 04:12] lukiano commented on #138
@adriancole I think a normal span model would help.
@eirslett I could just generate the json and send it to the collector, but I'd miss all the great goodness you have on this library

[2017-10-20 06:24] narayaruna opened #139 "Optimize trace transport"
The batch-recorder (https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin/src/batch-recorder.js) now collects traces and publishes to the backend one trace at a time. To support a higher sampling %, the traces need to be batched and  periodically push it to the configured backend. A batch should also be compressed to save network and storage for Kafka.

Alternatively, an agent/proxy

[2017-10-20 18:09] narayaruna opened #140 "Enhance to support zipkin2 traces"
To be able to use v2 end-to-end, this JS library needs to be enhanced as well to support the new schema.

[2017-10-21 05:21] adriancole commented on #138
@lukiano so unless someone screams not to, we will end up with a stable model using v2 format #140. Assuming you can run a recent zipkin server, this could work as you can just write the objects from your log files, right? They would look like this:

http://zipkin.io/zipkin-api/#/default/post_spans

[2017-10-28 12:25] adriancole commented on #140
#137 allows you to use zipkin v2 format via the following:

[code]

[2017-10-28 12:25] adriancole commented on #140
keeping this issue open as I'm not sure all the "v2" pieces you want. For example, kafka could be changed, as well, and also we could add a v2 api if that's what you are looking for

[2017-10-28 12:52] adriancole commented on #138
@lukiano in zipkin-js 0.10 just out now, you can create a span and upload it like so.. pull request welcome for typescript def on span and endpoint

[code]

[2017-10-28 12:52] #138 closed

[2017-10-29 03:03] adriancole commented on #139
the name is a bit misleading.. there's no batching although it does keep references to many spans. The http logger (reporter) actually bundles messages, if you look at it.

[2017-10-29 03:04] adriancole commented on #132
this is a historical shortcut when all ids were the same bitlength. If you follow down the rabbithole, it is a shortcut for when the traceId === the spanId

[2017-10-29 03:04] #132 closed

[2017-10-29 03:04] adriancole commented on #129
I think this is fixed now in 0.10 please verify!

[2017-10-29 03:04] #129 closed

[2017-10-29 03:06] adriancole commented on #109
I think the question is answered.. in the future an openzipkin-contrib bridge from opentracing to zipkin-js would be welcome if someone wants to do it.

[2017-10-29 03:06] #109 closed

[2017-10-29 03:07] adriancole commented on #28
These are in starting version 0.9. Though we do need tests somehow... imho (maybe we can write our normal tests in typescript?)

[2017-10-29 03:07] #28 closed

[2017-10-29 03:59] adriancole opened #143 "AWS Trace ID support"
Particularly as AWS lambda functions have tracing data impossible to access outside of X-Ray, we should at least make it possible to propagate their identifier such that we can correlate with it.

Brave, for example, has a feature that allows this called ExtraFieldPropagation https://github.com/openzipkin/brave-webmvc-example/blob/master/servlet3/src/main/java/brave/webmvc/TracingConfiguration.jav

[2017-11-01 10:36] DanielMSchmidt opened #145 "TypeError: Cannot read property 'JSON_V1' of undefined"
I get this when importing the HTTPLogger:

[code]

[2017-11-01 17:09] pbadenski commented on #145
What are the zipkin* packages versions?

[2017-11-01 17:15] pbadenski opened #147 "TypeError: span.toJSON is not a function"
This issue gets thrown if a span is being modified (annotation is added) after span has already been finished. Reason is the span will both have `endTimestamp` and would be removed from `partialSpans` in `batch-recorder.js`. This would trigger following sequence of calls (in `packages/zipkin/src/batch-recorder.js`):

[code]
Source: https://github.com/openzipkin/zipkin-js/blob/master/packages/zipki

[2017-11-01 18:10] #145 closed

[2017-11-01 18:10] DanielMSchmidt commented on #145
I found my issue, I configured my mock incorrectly

Pawel Badenski <notifications@github.com> schrieb am Mi., 1. Nov. 2017,
18:09:

[2017-11-01 18:10] DanielMSchmidt commented on #145
Found my issue, I configured the mock incorrectly

[2017-11-01 23:29] eirslett commented on #147
I guess we should discard all span modifications  that happen after endTimestamp has been set - which is when the span is logged, so it's too late to modify it.

[2017-11-05 13:03] adriancole commented on #147
yeah we can either resurrect it (which would end up with a choice as to
whether to flush the late annotation immediately or wait a while) or drop
annotations post finish. Either way we can test it

[2017-11-05 16:14] voldern opened #149 "Postgres instrumentation"
It would be great to have an instrumentation for [node-postgres](https://www.npmjs.com/package/pg).

Has anyone implemented this privately?

If not I can take a stab at it. The only methods that need wrapping seem to be [pg.Pool.query](https://node-postgres.com/api/pool#pool-query) and [pg.Client.query](https://node-postgres.com/api/client#client-query).

[2017-11-08 10:12] nutchalum opened #151 "Error: decorateRequest is REMOVED"
According to https://www.npmjs.com/package/express-http-proxy
[code]

[code]

[2017-11-08 19:34] citrus7 opened #152 "expressMiddleware.js does not check for the sampled flag"
I've been having trouble getting sampling and B3 propagation, specifically with the "X-B3-Sampled" header to work with the zipkin-instrumentation-express package.  It seems that regardless of what the sampler is set to or whether or not the incoming request has the X-B3-Sampled header set to 0 the request is logged.  After debugging through the runtime it seems like the the "sampled" flag is being

[2017-11-08 22:06] pjhampton opened #153 "Question: Unexpected response while sending Zipkin data, status:404"
Hey! Hopefully someone can help me - I am running the example React App.js file from zipking-js-example with the React-Native components removed and I am getting the following error message:

The upstream is a simple spring boot app which is returning a hello world type message. When I post to http://localhost:9411/api/v1/spans I get no errors, but it doesn't show up in the Zipkin UI. when I post

[2017-11-08 23:23] eirslett commented on #153
Maybe the version of the Zipkin server is too old, so it only supports /v1/, not /v2/?

[2017-11-09 00:55] adriancole commented on #152
I think the place this logic should be is inside recordResponse() right @pbadenski? Basically any recording should guard internally so that the instrumentation points are cleaner

[2017-11-09 01:10] adriancole commented on #151
Is there a way to handle both versions? or are we going to have to lock to
one or the other (or double-publish)

On Wed, Nov 8, 2017 at 6:12 PM, nutchalum.k <notifications@github.com>
wrote:

[2017-11-09 01:46] nutchalum commented on #151
We can simply release a new version and create a compatibility table in README.

- v0.10 will support only express-http-proxy < 1.0.0
- v0.10+ will support only express-http-proxy >= 1.0.0

and the new one will support only the latest  express-http-proxy

[2017-11-09 02:28] adriancole commented on #151
ack this is an option. Would like to hear from folks.. can you do a quick
github search (issues or just searching for use of this lib) and ping
users? If we get a few nods, let's go with it. The implication is that we
won't maintain <1.0.0 in this model

[2017-11-09 09:00] pjhampton commented on #153
@eirslett Hmm, it's possible. I built the zipkin server off a Spring Boot (1.5.7) application like https://spring.io/blog/2016/02/15/distributed-tracing-with-spring-cloud-sleuth-and-spring-cloud-zipkin

 It's possible that sleuth uses the v1 api and the js instrumentation requires v2.
I will download the Zipkin jar and let you know.

[2017-11-09 09:11] pjhampton commented on #153
Hmm, no dice. Weird

[2017-11-09 10:47] eirslett commented on #151
I guess it should be possible to detect if the function exists or not - and then decide which API to use.

[2017-11-09 12:11] adriancole commented on #153
so when you do curl -s yourhost:9411/info, it is 2.2.1 and curl -s yourhost:9411/api/v2/services it is 404? probably best to troubleshoot on gitter https://gitter.im/openzipkin/zipkin

[2017-11-09 12:12] adriancole commented on #153
ps I would use standalone zipkin jar when troubleshooting as opposed to creating your own custom build

[2017-11-09 16:23] AvivRubys opened #155 "require.call workaround causes warnings in webpack"
In `zipkin` and `zipkin-transport-http` you use `require.call(null, 'package')` to avoid some bundlers (which?) from detecting it as a missing dependency.
However, when used under webpack, it spits out warnings about using `require` dynamically in `InetAddress.js` and `HttpLogger.js`
The exact warning is `23:27-34 Critical dependency: require function is used in a way in which dependencies cannot

[2017-11-09 20:20] pjhampton commented on #153
Thanks guys! I have got this fixed.

[2017-11-09 20:20] #153 closed

[2017-11-09 20:36] DanielMSchmidt commented on #104
@adriancole Thanks for linking this issue, but I am unable to guess the usage from this conversation as I don't know what was implemented and what was just a suggestion. Is there a piece of documentation on how to use this and when? Is it for every action that is not causing an HTTP request?

[2017-11-09 21:00] eirslett commented on #104
It was never implemented, just a sketch. You could use it for actions that cause HTTP requests as well, it could work with promises.

[2017-11-09 21:32] DanielMSchmidt commented on #104
So only the workaround is currently possible?

[2017-11-10 01:11] adriancole commented on #104
I will spike this today if folks can help review it.. deal?

On Fri, Nov 10, 2017 at 5:32 AM, Daniel Schmidt <notifications@github.com>
wrote:

[2017-11-10 12:45] adriancole commented on #149
You did a great job. We do have a trend of rule-of-three adding instrumentation.. I wonder if you know any others who would use this? cc @tobespc

[2017-11-10 14:54] adriancole commented on #104
as promised https://github.com/openzipkin/zipkin-js/pull/156

[2017-11-10 22:16] pbadenski commented on #152
Certainly I agree `expressMiddleware` is not abstract enough, but I am also not sure if we might want to push it even farther than `instrumentation`.

I've grepped through the code and currently there doesn't seem to be any checks for sampling - although I'm not 100% sure I'm correctly reading this.

Shouldn't be `sampled` check be as far as `tracer#recordAnnotation`? (or `recorder#record`, but th

[2017-11-13 08:49] nutchalum commented on #152
Is this the reason that I can't trace an entire request?
I have a proxy in front of every services and all request go through them.

e.g. I have a service A make a request to Service B.
I've expected the output should be one trace with these spans.
span-proxy-A, span-endpoint-A, span-proxy-B, span-endpoint-B

It turns out to be 2 traces instead
(1) span-proxy-A, span-endpoint-A
(2) span-proxy-B, s

[2017-11-13 14:39] embs commented on #101
@adriancole

1. what do you mean by a shimmer of some sort?
2. do you think this project would be a good option for zipkin-mongo instrumentation? https://github.com/abesto/zipkin-mongodb

Thanks!

[2017-11-14 06:43] adriancole commented on #149
we've met rule-of-three. merging!

[2017-11-14 06:44] #149 closed

[2017-11-14 08:39] voldern commented on #149
Thanks for the help @adriancole :bowing_man:

[2017-11-14 12:23] voldern opened #157 "Instrumentation for "got""
I've created an instrumentation for [got](https://www.npmjs.com/package/got) that can be found here: https://github.com/voldern/zipkin-instrumentation-got.

If enough people are interested and the maintainers think it's a good idea I can move it here.

FYI @sindresorhus

[2017-11-17 07:48] adriancole commented on #152
fixed by https://github.com/openzipkin/zipkin-js/pull/158

[2017-11-17 09:25] adriancole commented on #152
I don't think this is related

[2017-11-17 09:33] nutchalum commented on #152
Yes you are right, that's totally all on me.
My client didn't forward any headers (from incoming) to another proxy(outgoing).

[2017-11-18 03:01] adriancole commented on #104
couple things to consider before merge. Please comment within the next couple days if you can, as we should do a release soon.

* Maybe we should add a constructor parameter in Tracer for the local endpoint.

This can reduce duplication in all the instrumentation where we keep passing serviceName (and sometimes get it wrong). Most importantly here, we can attach a local endpoint to the span so tha

[2017-11-18 03:39] #152 closed

[2017-11-18 06:32] citrus7 commented on #152
Thanks for the quick turnaround!

[2017-11-19 15:22] adriancole commented on #104
Added https://github.com/openzipkin/zipkin-js/pull/159 which is the minimum change besides the main PR. This centralizes assignment of the local service name (similar to how is done in brave). feedback welcome

[2017-11-20 01:50] vigneshnrfs opened #161 "Message Send & Message Receive Annotations"
hi...

When likely will zipkin-js implement "mr" & "ms" as stated in http://zipkin.io/pages/instrumenting.html ?

[2017-11-20 01:56] adriancole commented on #161
this can be added at any time, but as messaging annotations are easy to
misuse, probably best to add instrumentation that needs them. Which
messaging system are you using? Do you have existing work?

[2017-11-20 02:14] vigneshnrfs commented on #161
Mine is a custom set up....

I read from kafka. Messages are sent to kafka via a http request (not through kafka producer).

The message is consumed from kafka and it is piped through several nodejs transform streams before it is completed.

Each of the nodejs streams needs to be instrumented. Currently I am doing "cs" & "cr" to instrument each stream. So each stream process is separate span with

[2017-11-20 04:35] adriancole commented on #161
maybe take a look at this for background?
https://github.com/openzipkin/brave/tree/master/instrumentation/kafka-clients

Best way is for us to have a compatible solution.. are you using kafka
0.11+?

On Mon, Nov 20, 2017 at 9:14 AM, Vignesh Jagadeesh <notifications@github.com

[2017-11-20 05:59] vigneshnrfs commented on #161
@adriancole Thanks for the background. It would work if all the streams are based on Kafka.

I agree that we have to have a compatible solution. That way kafka instrumentation can extend the general solution and use it (extracting the header information from kafka 0.11+ headers.) In cases where headers are not available, we would need to expose the same methods (the generalised solution for the de

[2017-11-20 06:22] adriancole commented on #161
so in such case, it is hard to make things compatible, as probably you are
implying an envelope approach, correct? Messaging systems that expose
headers (ex kafka 0.11+ amqp etc) have it easier as you don't need to
coordinate a potentially incompatible wrapper. Wrappers are a pain also
because they can break prod apps in ways harder to do with headers..

[2017-11-21 01:32] montmanu opened #163 "Add support for timeout option to HttpLogger"
Hi! Was thinking it would be nice to be able to initialize the `HttpLogger` with arbitrary fetch options, but specifically, we'd like to be able to provide a [timeout value for `node-fetch`](https://github.com/bitinn/node-fetch#fetch-options) to abort the underlying request in the event that the Zipkin endpoint does not respond quickly enough for the application..

[code]

the supply them to the f

[2017-11-21 02:19] adriancole commented on #163
Only q is if this will always be fetch (needs to work in browser react and
node so maybe yes is the answr?)

On 21 Nov 2017 9:32 am, "Chris Montoro" <notifications@github.com> wrote:

[2017-11-21 15:09] adriancole commented on #104
ok ready to merge #156.. last warning :)

this keeps Tracer.local as a keyword that means "trace this callable" as no-one seems bothered about it.

[2017-11-21 16:36] montmanu commented on #163
From the looks of it, this will always be fetch

https://github.com/openzipkin/zipkin-js/blob/3a24206e004a774735b5a5e9ed5648e945890ac4/packages/zipkin-transport-http/src/HttpLogger.js#L2-L7

and since that option isn't supported by browsers (no way to abort the underlying request), it will simply be ignored when executing in that environment.

[2017-11-22 00:25] adriancole commented on #163
Sgtm

On 22 Nov 2017 00:36, "Chris Montoro" <notifications@github.com> wrote:

From the looks of it, this will always be fetch

https://github.com/openzipkin/zipkin-js/blob/3a24206e004a774735b5a5e9ed5648
e945890ac4/packages/zipkin-transport-http/src/HttpLogger.js#L2-L7

and since that option isn't supported by browsers (no way to abort the
underlying request), it will simply be ignored when execut

[2017-11-22 02:19] #104 closed

[2017-11-22 04:41] vigneshnrfs commented on #161
I agree. This would also imply that for users using kafka < 0.11, instrumentation would not be possible.

[2017-11-22 04:52] adriancole commented on #161
Before, some hijacked message keys. Since kafka keeps moving forward
(already 1.0 now), it might be best to keep < 0.11 custom and not
special-cased in a generic api. For example, we could make a function where
you create your own message wrapper given a trace ID or something..

[2017-11-23 06:07] vigneshnrfs commented on #161
Yeah. That makes sense.

[2017-11-28 01:23] sahas- opened #167 "Support for old node versions"
Hi,
I want to instrument express.js service, this service will be hosted on a platform that supports upto **node v0.10.43**. In that environment, I'm getting below error

Is this expected?
I know this is one off case, wondering if anyone solved this problem.

`dist/node_modules/zipkin-transport-http/lib/HttpLogger.js:34
    this.headers = Object.assign({
                          ^

TypeError: Obj

[2017-11-28 02:08] sahas- commented on #167
Just an update, I had to use a few babel plugins "babel-plugin-transform-object-assign", "babel-polyfill" to get this working on this environment.

[2017-11-28 02:08] #167 closed

[2017-11-28 09:26] eirslett commented on #167
That's right - zipkin-js is only officially supported on node 4+ (for the current version). For version 1.0 onwards, only node 8+ will be supported.

[2017-11-29 22:01] spoulson opened #169 "BatchRecorder throws error: "TypeError: Cannot read property 'delegate' of undefined""
Reproduce:

1. Start a span with ServerRecv
1. Do something that takes longer than the span timeout (default 1 minute).  Span is now expired and deleted.
1. Terminate the span with ServerSend.

Get error:
[code]

[2017-11-29 22:02] spoulson commented on #169
https://github.com/openzipkin/zipkin-js/pull/168

[2017-12-05 14:45] frankcs opened #171 "Issue while propagating traceId due to stringToBoolean function"
Hi there, thanks for all the work put into this.

I'm having an small issue when trying to propagate the trace id received from a service implemented in `go` using openzipkin/zipkin-go-opentracing for tracing and traces are not being properly recorded in zipkin. I'm using zipkin-instrumentation-express for my express app.

I tracked the problem down to this file:
`zipkin-js/packages/zipkin/src/ins

[2017-12-05 18:45] adriancole commented on #171
yeah B3 is 1 or 0 for sampled bit, although some old libraries (that
predate zipkin-go-opentracing) sent 'true' or 'false' literals. We can
tolerantly parse the 'true' 'false' but should certainly only write '1' or
'0'

https://github.com/openzipkin/b3-propagation

On Tue, Dec 5, 2017 at 9:45 AM, Frank Emilio Perez Rivero <
notifications@github.com> wrote:

[2017-12-05 19:49] frankcs commented on #171
Created a PR for it
https://github.com/openzipkin/zipkin-js/pull/172

[2017-12-07 10:23] #171 closed

[2017-12-11 14:40] DanielMSchmidt opened #173 "Timing issues with different systems involved"
Hi there,

First of all big thanks for maintaining this project! We are adding zipkin to our application and experience a problem with the time sync between our frontend running in a browser and our backend systems running on AWS or in a kubernetes cluster. We got spans that look like this:

<img width="1440" alt="screen shot 2017-12-11 at 15 35 53" src="https://user-images.githubusercontent.com/1

[2017-12-11 14:41] DanielMSchmidt commented on #173
/cc @levito & garthenweb

[2017-12-12 01:59] adriancole commented on #173
looks related to this?
https://github.com/openzipkin/zipkin/issues/1492#issuecomment-350920084

[2017-12-12 03:42] mpetazzoni commented on #173
I think you meant https://github.com/openzipkin/zipkin/issues/1492#issuecomment-350910202 (my comment just above it), but yes it looks very similar. The hosts participating in the trace have slightly offset clocks. I'm not sure the dependency-linking discussed in https://github.com/openzipkin/zipkin/issues/1480 would help there, unless I'm misunderstanding something.

[2017-12-12 06:43] adriancole commented on #173
This issue was moved to openzipkin/zipkin#1839

[2017-12-12 06:43] #173 closed

[2017-12-12 06:43] adriancole commented on #173
moved this one as nothing special would happen in this repo

[2017-12-14 01:40] xiaosefengyun commented on #153
when I use kubernetes, i get the same issue,how to solve?

[2017-12-17 06:21] mfriscia7 commented on #106
I also see this zipkin error if a wrapped redis command does not have a callback. Even though the node_redis documentation explicitly says "the API is entirely asynchronous," there is still a check in there to see if a callback exists. Perhaps doing a similar thing here would be helpful to stay consistent with the node_redis api.

[2017-12-20 21:06] mkante opened #174 "Calbacks are not executed with the original traceId under load."
We are a NodeJs shop and we are trying to instrument all our microservices (about 10). Our code base is huge, we are routing all outbound HTTP call to zipkin-instrumentation-request and memcache call goes through zipkin-instrumentation-memcached. So far our zipkin setup is fine UI+API.
Unfortunately when we simulate concurrent request, callbacks are not executed with the original traceId. The prob

[2017-12-20 23:01] eirslett commented on #174
No, in fact it was made originally for backend/node.js. Browser support is a more recent addon.

What do you mean by that?

No, not at all. It is designed to handle production workloads.

There might be a bug in the library. If you're able to set up a minimum reproducible example script, then it's possible to figure out what's going wrong. I think @SimenB was also looking at replacing CLS with the

[2017-12-21 03:10] sleagon opened #175 "Any plan for supporting async/await?"
As mentioned in #124 and #135, this package does not work very well in node 8. Is there any schedule for something like zipkin-js@next or zipkin-js 2.x?

[2017-12-21 04:01] mkante commented on #174
By zipkin-instrumentation-xxx I mean any library providing zipkin instrumentation like zipkin-instrumentation-request, zipkin-instrumentation-memcached and more. Most of them are asynchronous but their callbacks are not bound to CLS context.
Unfortunaly we are not running Node.js 8

[2017-12-21 04:27] adriancole commented on #174
sounds like we need tests to ensure that callbacks have the correct trace
identifiers in scope? is that right?

[2017-12-21 12:11] mkante commented on #174
Correct

[2017-12-21 13:30] eirslett commented on #174
If you look in this repo, you can see that we already have integration tests for the instrumentations - maybe you can modify one of the integration tests and see if you can make it fail, to reproduce the bug?

[2017-12-21 13:33] mkante commented on #174
I setup two microservices, `server1` makes request to `server2`. The goal of the simulation is to prove that the async callbacks are executed with the wrong traceIDs (the callbacks are not bounded to CLS)

Here is my project structure
[code]
The package.js content
[code]
The service1.js content
[code]
The service2.js content
[code]
Now start both services
`node service1.js`
`node service2.js`
Make

[2017-12-23 13:38] mkante commented on #174
If you update `service2` to send a response back, the callback traceID is correct

[2017-12-25 21:34] hollinwilkins commented on #155
This will cause a runtime error later when trying to use the HttpLogger:

[code]

Not sure how to get around this aside from not using webpack. I think this could help: https://webpack.js.org/plugins/context-replacement-plugin/

But I'm not familiar enough with how it works to come up with a solution.

[2017-12-28 06:33] hollinwilkins commented on #155
Found a workaround for the error I was getting. Needed to make a wrapper JS file that does this:

[code]

[2018-01-04 14:31] mkante commented on #174
One of other our engineer found that the problem was coming from `request` module, the [response object get destroyed](https://github.com/request/request/blob/master/request.js#L1167)  on `ETSOCKETTIMEOUT` event. You can listen to the `request.on('response', callback)` and `request.on('error', callback)` but then your callbacks is executed outside of the tracer context.

Currently the work around

[2018-01-04 15:25] mkante opened #176 "Wrong traceID between contiguous requests"
Recently we have been trying to instrument our NodeJs microservices with zipkin, unfortunatly we are running into a strange issue with **Memcached** callbacks. The memcached callbacks shows the previous request traceIDs if the requests are contiguous (few seconds apparts).

To help properly explain my bug I setup a small microservice with zipkin, zipkin-instrumentation-memcached, zipkin-instrument

[2018-01-05 15:58] mkante commented on #176
I found the bug in the source [zipkinClient.js line: 20](https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin-instrumentation-memcached/src/zipkinClient.js#L20) the callback is outside the scope function. The solution is to move `callback.apply(this, args);` to line 19
Now I don't know if that was intentional but it seems to fix my problem. The found the same issue in `zipkin-instru

[2018-01-05 16:47] eirslett commented on #176
That's strange...
The callback is supposed to be outside the `tracer.scoped(...)` and this is the reason:
Zipkin traces consist of spans, and spans have children, in a tree hierarchy. Every time you make a request (call to memcached), we create a new child span. Which should have its own span ID (but the same trace ID). The clientSend/clientRecv annotations should belong to that child span. *But*,

[2018-01-05 18:50] mkante commented on #176
Hm, that's correct it will look like each memcached call is the child of the previous call, but aren't  NodeJs callbacks indented inside each other. Although, my change doesn't affect the duration of the spans because `tracer.recordAnnotation(new Annotation.ClientRecv());` close the span before the callback.

Im still confused about why isn't the ` request traceID ` restored when my callbacks are

[2018-01-05 18:59] eirslett commented on #176
Yes, node callbacks are nested, but logically/time-wise the memcached calls are siblings. (Imagine how this would be in a synchronous stack like java)

Can you post the whole output of ConsoleRecorder?

[2018-01-05 19:10] mkante commented on #176
So here is the full output
[code]

[2018-01-05 19:16] mkante commented on #176
Another solution will be to explicitly restore the original `traceID`
[code]

[2018-01-06 05:43] #163 closed

[2018-01-06 17:00] spoulson commented on #169
Merged.

[2018-01-06 17:00] #169 closed

[2018-01-08 02:47] adriancole commented on #176
so one this is the Root trace id in the program is distracting as it isn't in scope, and we wouldn't want a service to share a root id for all requests. I have been able to reproduce the context leak in the current code with CLS

[2018-01-09 04:04] #176 closed

[2018-01-10 21:19] mkante opened #179 "zipkin-instrumention-request callbacks have the wrong traceId"
I setup two microservices, `server1` makes request to `server2`. The goal of the simulation is to prove that the async callbacks are executed with the wrong traceIDs (the callbacks are not bounded to CLS)

Here is my project structure
[code]
The package.js content
[code]
The service1.js content
[code]
The service2.js content
[code]
Now start both services
`node service1.js`
`node service2.js`
Make

[2018-01-10 21:59] mkante commented on #179
Everything works fine if I use callback pattern
[code]

[2018-01-11 21:38] mkante commented on #179
To confirm my previous comment, the `request-promise` module will not work, since the promise callbacks are executed out of the original scope. Normally you want all yours callbacks running in the correct scope with the right traceId. I have been trying few hacks to make it work but they are little ugly. Maybe my expectations are too high, I will keep searching for a clean solution.

[2018-01-12 01:09] adriancole commented on #179
thanks for the update. Not sure if code in Tracer.local can help with
regards to this or not (from approach pov once a hook is found)

[2018-01-15 21:03] r4j4h commented on #143
I found a piece that may be useful for those working on this in AWS's Doc's [Using Environment Variables to Communicate with AWS X-Ray](https://docs.aws.amazon.com/lambda/latest/dg/lambda-x-ray.html#lambda-x-ray-env-variables) section:

[2018-01-16 01:09] adriancole commented on #143
good point. in the brave code, I noticed this and added a helper (which could probably be hidden) https://github.com/openzipkin/brave/blob/master/propagation/aws/src/main/java/brave/propagation/aws/AWSPropagation.java#L201

Recently, AWS have open sourced their SDKs so we can probably also look to see how they implement things like this.

[2018-01-22 14:50] mkante commented on #179
Sorry, for the delay It's been a crazy last week :). So to respond to your comment `Tracer.local` is not exactly the solution, since it will create a new child span. Updating a matured code base will be
The best solution I have is to force the promises to restore the `originalId` before every callback execution.
You can extend the `Promise` class then overwrite the `then, catch` methods. Unfortuna

[2018-01-29 19:26] HeavyStorm opened #181 "Unexpected response while sending Zipkin data, status:405"
I getting a strange error when using zipkin on my application... The error message I get is similar to the one below (I added line breaks to make it readable).

The most relevant information is the error status, 405, which is "method not allowed". I do not know why such an error would be emitted by zipkin -- this means that somewhere we are trying to POST or PUT on a resource which doesn't allow t

[2018-01-30 02:00] adriancole commented on #181
Are you accidentally posting to /zipkin/api.. as opposed to /api...?

The ui mounts read-only endpoints under /zipkin for technical reasons. The
api root is actually /api

On 29 Jan 2018 11:26 am, "Bruno Brant" <notifications@github.com> wrote:

[2018-01-30 13:19] jcchavezs opened #183 "Use a"
Currently `hapi` middleware uses the `http method` for naming spans. This solution is a not so bad low cardinality option, however from user perspective this could be improved by using the `path` instead of the `verb`. For that we can override the span name in the `onPreResponse` (see [this](https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin-instrumentation-hapi/src/hapiMiddleware

[2018-01-30 17:19] adriancole commented on #183
There is some discussion about "http.template" which sounds like this
change can afford.

Not sure if we should change default because it is what most zipkin
instrumentation use since the beginning (ex will mix up drop down), but
should be possible (ex via a hook or a naming policy config)

So regardless we should support the mechanism just not sure if it should be
the default policy or not (as it

[2018-01-31 09:56] LennartKloppenburg opened #184 "Express instrumentation support for Stackdriver Trace"
I hooked up the Zipkin collector that forwards tracing to Stackdriver Trace (as described [here](https://cloud.google.com/trace/docs/zipkin)).

I am currently playing with the (very helpful) [JS example ](https://github.com/openzipkin/zipkin-js-example/tree/master/web), and I find that the traces that Stackdriver picks up has some misplaced or missing information:

![screen shot 2018-01-30 at 16 5

[2018-01-31 16:13] adriancole commented on #184
one way is to implement something like we have in brave, which is a generic
http data policy thing. this would allow you to change the span name etc.

https://github.com/openzipkin/brave/tree/master/instrumentation/http#span-data-policy

Note that the converter indeed uses the same name as we do
https://github.com/GoogleCloudPlatform/stackdriver-zipkin/blob/master/translation/src/main/java/com/goo

[2018-02-01 02:42] ObjectMatrix opened #185 "Not compatible with the framework hapi 17.2.0"

[2018-02-01 13:39] HeavyStorm commented on #181
Oh my, that's probably it... Someone gave me this URL and I thought it was just some strange routing.

I will check it -- it's on a production server so I can't change it right away -- but you can consider this closed.

[2018-02-01 19:18] #181 closed

[2018-02-07 09:44] jemapi opened #186 "Possible memory leak, remove listener after promise is resolved"
Hi,

To prevent memory leaks, the producer listeners (ready, error) should be removed when the connection promise is resolved or failed, this code:

`
...
logSpan(span) {
    this.producerPromise.then(producer => {
      const data = THRIFT.encode(span);
      producer.send([{
        topic: this.topic,
        messages: data
      }], () => {});
    });
  }
...
`

Should be:

`
...
logSpan(span)

[2018-02-07 10:07] adriancole commented on #186
thx mind raising a pull request?

[2018-02-07 10:26] jemapi commented on #186
Sure, I'll do it

[2018-02-07 15:47] jemapi opened #187 "No microsecond precision on local operation Span timestamps"
We the hability to get nanoseconds accuracy in the span timestamp, at least for  process running directly on NodeJS, microseconds is not enough for too fast processes. Local process are getting the same timestamp when teir duration in < 1000 microseconds

[2018-02-08 05:28] adriancole commented on #187
This has too much impact to change for reasons including that the server
will not be able to understand nanos and most platforms are not accurate to
this either.

On 7 Feb 2018 4:47 pm, "Jesus Piñeiro" <notifications@github.com> wrote:

[2018-02-08 05:32] adriancole commented on #187
If you are recording sub microsecond duration it feels more like profiling
than tracing. Seems to imply you are recording a lot of spans?

Bear in mind that spans are typically used to explain critical path
latency. Several nanos is unlikely to explain a slow request. In the future
if we change the model again, we can certainly reconsider, but for now
especially knowing some are only getting milli

[2018-02-08 07:00] jemapi commented on #187
The problem is that local spans are overlapping its timestamps because these are collected with miliseconds accuracy, if you check the JSON that forms a trace you can see that some of the timestamps (not all) getting it's timestamps in the form NNNNNNNNNNNNN000, thus generating traces like this:

![image](https://user-images.githubusercontent.com/957338/35959472-1a4c5bec-0ca6-11e8-90d4-5fccdff1603

[2018-02-08 09:51] adriancole commented on #187
Ic so this is more about doing better than millis vs doing nanos

[2018-02-09 17:27] BransonGitomeh commented on #185
hey, great tool here,

is there anything in the works for supporting hapi 17 breaking release?

[2018-02-12 02:36] adriancole commented on #185
we need someone to raise a pull request to do this

[2018-02-19 01:53] mkante commented on #179
I found the solution for the issue check my [PR](https://github.com/openzipkin/zipkin-js/pull/189). I didn't want to change the existing  `zipkin-instrumentation-request` pattern so I made a new directory `zipkin-instrumentation-request-promise`. It will solve the problem for both request and request-promise.
Currently all zipkinjs instrumentation extensions  will lose the trace context if a promi

[2018-02-26 14:43] siluri commented on #111
i guess `traceid.id.traceid`

[2018-02-26 14:46] siluri opened #190 "TS Definition of addZipkinHeaders"
Typedefintion is wrong:

[code]
but in the Definition file (index.d.ts) u got void:
[code]

[2018-02-26 15:00] jorgheymans opened #191 "support for angular2"
It would be nice to have an angular http interceptor that does the usual context getting and header adding logic. Presumably something like [this](https://medium.com/@ryanchenkie_40935/angular-authentication-using-the-http-client-and-http-interceptors-2f9d1540eb8) - i'm no frontend guy there might be better ways to hook into the framework.

[2018-02-27 09:15] Fannon commented on #175
+1

[2018-02-27 09:18] adriancole commented on #175
some of the related issues are stuck on feedback. anyone want to comment on https://github.com/openzipkin/zipkin-js/pull/135#issuecomment-355870750 ?

[2018-02-27 10:11] moralce opened #192 "Can't resolve child_process error when importing CLSContext in angular application"
npm v4.6.1
node v8.9.4

To reproduce:
- Create angular application using angular-cli
- Add zipkin npm dependencies
- Try to use zipkin by importing CLSContext in app.component.ts

This
[code]

Produces the following error:
[code]

Using `ctxImpl: new ExplicitContext(),` instead fixes the issue.

tsconfig.json
[code]

package.json
[code]

[2018-02-28 00:10] adriancole commented on #192
this might not be relevant, so don't anchor your brain to it, too much
https://github.com/othiym23/node-continuation-local-storage/issues/36

[2018-03-01 20:10] CalebKing3 commented on #7
This would be a really nice feature.

[2018-03-06 03:01] sssession opened #194 "zipkin-instrumentation-redis will throw error if not set callback"
https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin-instrumentation-redis/src/zipkinClient.js#L23

If I didn't set callback when execute redis command like `del`, will throw a error as below.

[code]

test code:
[code]

If should judgment the callback is set or not before apply callback ?

[2018-03-06 11:24] micaelsampaio opened #195 "Zipkin warnings with create-react-app"
I created a react app with **create-react-app** and when i import zipkin i get this error on start and build.

[code]

I put this code in App.js after all the imports.
The trace is working an all the requests appear in zipkin server, but i need to clear this warnings so it passes on the pipeline.

[code]

And my package is

[code]

[2018-03-07 06:49] pathikmehta commented on #195
I am getting the same errors
[code]
When I use zipkin, zipkin-transport-http with my react application.

[2018-03-10 11:29] jackyFeng opened #196 "How does actually zipkin works with opentracing?"
Hi,

I have a silly question here instead of an issue.

We are setting up a Spring Boot project with micro-services architecture. We did some researches online and found out opentracing can be used as instrumentation tool to monitor the services' interactions together with zipkin. However, I'm a bit confused that how does opentracing works with zipkin, opentracing seems like a wrapper which allows

[2018-03-11 00:38] adriancole commented on #196
You raise this question on our javascript project. It seems to be about
spring-cloud-sleuth (spring boot) which configures brave-opentracing (a
bridge)

But to answer your question of why would you choose opentracing? Besides
hype? Maybe you believe one day they will support other backends which cant
be supported by data formats and are ok linking to a library that is
unstable until then? Maybe yo

[2018-03-11 04:06] jackyFeng commented on #196
@adriancole Thanks for the response. Will understand more about spring-cloud-sleuth.

[2018-03-11 04:06] #196 closed

[2018-03-13 16:05] jcchavezs opened #197 "Support SamplingFlags extraction?"
`brave` and `zipkin-php` include the concept of `SamplingFlags` which allows propagation to extract sampling decisions from headers although `trace` information is not there. Shall we support something like that here?

At the moment when such a thing happens, `hapi middleware` fails to extract `traceId`.

Ping @adriancole

[2018-03-13 16:14] jcchavezs opened #198 "Don't fail when extraction fails"
At the moment if propagated context does not have all trace headers it raises an error:

[code]

My guess is that problem comes from this line: https://github.com/openzipkin/zipkin-js/blob/7588d88b876ab5f5844f4bbd08f50c16c13306ab/packages/zipkin-instrumentation-hapi/src/hapiMiddleware.js#L46

Ping @fbaiodias

[2018-03-13 23:43] adriancole commented on #197
If only sampled header doesnt yet work here, then yes indeed it should!

[2018-03-15 22:23] nickcodefresh opened #199 "RabbitMQ support"
Are there any plans to support Rabbitmq? Libraries such as spring cloud sleuth support similar functionality.

Thanks

Nick

[2018-03-17 12:11] wdittmer commented on #73
I am using the code that @lnshi created already. I created a wrapper function that handles getting the metadata and finishing when the function is done. It would be nice if this could be included/done automatically when using this library. But it is a bit over my head at the moment.

[code]

Then when assigning the call to the grpc server you just use `grpcMethod:  trace(your_original_grpc_method)

[2018-03-31 11:55] anujshankar commented on #124
https://www.npmjs.com/package/zipkin-context-cls-hooked

[2018-04-03 05:05] rooftopsparrow opened #202 "zipkin-transport-http claims chai as a dependency in 0.12.0"
Pull request inbound to remove this addition and rely on the top level package's devDependencies.

[2018-04-03 05:42] #202 closed

[2018-04-03 12:03] davidpetro88 commented on #191
Do you have any solution?
Have any solution using angular http client (Angular 5)?
Thanks

[2018-04-03 12:55] Ghost---Shadow commented on #199
Looking for collaborators for this issue.

[2018-04-03 12:59] Ghost---Shadow commented on #175
PR #201 adds this functionality

[2018-04-03 13:03] Ghost---Shadow commented on #174
Are you (or any of your libraries) using async-await?

[2018-04-03 13:05] Ghost---Shadow commented on #124
@anujshankar :)
#201 solves this

[2018-04-06 18:01] jonesg504 opened #204 "zipkin-instrumentation-express outdated for express-http-proxy"
zipkin-instrumentation-express is using removed functions from express-http-proxy and will not work.

functions decorateReq and intercept are removed from the library and replaced with proxyReqOptDecorator and userResDecorator

See: https://www.npmjs.com/package/express-http-proxy

[2018-04-11 13:56] jcchavezs commented on #151
Ping @epallerols

[2018-04-12 13:37] epallerols commented on #151
I see one solution that does not involve a breaking change
Maybe it is something we are forced to do (my knowledge of this library is limited), but the current implementation always adds a `decorateRequest` (see:
https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin-instrumentation-express/src/wrapExpressHttpProxy.js#L98)

The check from express-http-proxy is as simple as:
https://gi

[2018-04-12 13:48] adriancole commented on #151
I'm not an expert, but I suspect tests could suss out if it works or not. I
don't think we could run multiple versions in our build (at least I don't
know a way), but we could fake it and then one of the folks here who are
looking for the change could verify.

I'd go for it, but still open to others who are smarter than me at
javascript.

[2018-04-15 06:22] zephinzer opened #205 "Support zipkin server behind a proxy in HttpLogger"
**Problem**
We have two networks (let A and B) that can only communicate with each other through a proxy gateway. When specifying the address to the Zipkin server in network B from an application in network A, the HttpLogger is attempting to connect directly without going through the proxy, resulting in a failure to post the trace.

Problem experienced using version `0.12.0` of the `zipkin-transpo

[2018-04-16 10:30] adriancole commented on #195
@DanielMSchmidt any chance you could look into this?

[2018-04-16 10:35] adriancole opened #207 "Appveyor broken on redis install"
[code]

[2018-04-16 11:35] DanielMSchmidt commented on #195
@adriancole We introduced errors again with the latest version. I think the only suitable way to fix this is to write tests and I am currently missing the time for that :/

[2018-04-17 13:44] pathikmehta commented on #155
**This workorund worked for my react application to resolve this issue in IE**

I have tried to resolve this error by changing `require.call()` to `require()`.
This does remove the warning from console while starting the server. But then it started giving this error at runtime.
`SCRIPT5007: Unable to get property 'bind' of undefined or null reference`

Looks like this error occurs because `node-fe

[2018-04-17 16:46] micaelsampaio commented on #195
The zipkin works fine but give that warnings.

[2018-04-18 04:35] pathikmehta commented on #195
@micaelsampaio Yes, Zipkin does work fine but because of this warnings, while trying to do `require.call(null, 'node-fetch')` it gives an error like `can not find module "."` at runtime.

[2018-04-24 10:51] PaulinaStypinska commented on #185
Hey there, I raised a PR for this: https://github.com/openzipkin/zipkin-js/pull/208

just to reiterate my comment from the pr, this is a breaking change for people using hapi v16 and below

[2018-05-10 12:14] jemapi opened #209 "Collision of traceid when heavily loaded"
Hi,

We're experiencing collisions of traceId on production when our microservices are heavily loaded, we assume that it's because the traceId is two base64 numbers concatenated, and those are generated with a non-collision-safe algorithm (like uuid).

Will be great that instead of support 64 / 28 bits traces (spans are allways 64), we can gave the implementation (function) to generate the traceId

[2018-05-12 21:29] chris-smith-zocdoc opened #210 "Express Middleware not reporting errors on 5xx"
The express middleware is not currently marking 4xx/5xx server response with the error annotation. This is behavior is present in other zipkin libs [like brave](https://github.com/openzipkin/brave/blob/b3c33ff0146d4de96bea251cb3659358155566d8/instrumentation/http/README.md)

I believe the issue is that the [httpServer](https://github.com/openzipkin/zipkin-js/blob/6a12a1d3bb0567e7e3e3e69a69a1c4bffd

[2018-05-18 14:18] DailunCheng commented on #204
I think it's mentioned in #151

[2018-05-23 15:24] PhiLhoSoft opened #212 "Incorrect TypeScript definition of TraceId"
The current index.d.ts is as follows:
[code]
`isDebug` is defined twice, and the constructor's `args` defines `sampled` as `option.IOption<string>` but I believe it should be `option.IOption<boolean>`.
Beside, I don't think the `_xxx` members should be part of this definition.

[2018-05-24 02:26] zhangzhenhuajack opened #214 "ember.js need to support for tracking"
very thank you!

[2018-05-24 02:42] justlaputa opened #215 "Question: how to add span kind PRODUCER and CONSUMER"
Hi,

  I'm using zipkin-js to trace our nodejs applications, but I found there is no way to support async message tracing like RabbitMQ.

  I am aware there is an issue #161 mention this. But the problem is now there is no way even to write customized instrumentation library for messaging tracing, because the js Span model does not support the kind PRODUCER and CONSUMER:

https://github.com/openzi

[2018-05-24 02:52] adriancole commented on #215
Regardless, I'd suggest merging in the code similarly done in zipkin-ui
(and tests)
https://github.com/openzipkin/zipkin/blob/master/zipkin-ui/js/spanConverter.js

That said, the v2 model here does actually allow span.kind... v2 style
instrumentation could be made.

[2018-05-24 07:52] justlaputa commented on #215
Hi @adriancole thanks for the quick reply. I checked the zipkin-ui project.
I think spanConverter.js is used to convert an v2 span to v1 span.

the v2 model does support span.kind to be PRODUCER or CONSUMER, but the problem is in current zipkin-js, the tracing is added by creating Annotations, then the batch recorder will construct a span depends on the AnnotationType. However now the AnnotationTy

[2018-05-24 08:02] adriancole commented on #215
yes some code change needs to occur based on the V2 converter rules

[2018-05-24 08:20] justlaputa commented on #215
OK I got it. If I want to improve the code for CONSUMER and PRODUCER span, can you give me some suggestion on where to start? Thanks!

[2018-05-24 08:26] adriancole commented on #215
For the conversion to work properly into the old model, zipkin-js will need
the following annotation types:

WireSend("ws")
WireRecv("wr")
MessageSend("ms")
MessageRecv("mr")

then, it would need to integrate mapping like here
https://github.com/openzipkin/zipkin/blob/master/zipkin-ui/js/spanConverter.js#L51

This code would affect the same places as you see mappings for SpanKind in
the current co

[2018-05-24 09:14] justlaputa commented on #215
Great, thanks for your explanation, I'd like to close this issue and make another one when I have some code ready.

Thanks very much!

[2018-05-24 09:14] #215 closed

[2018-05-24 14:50] PhiLhoSoft commented on #212
Also I found two Annotations missing in the Annotation namespace:

    class LocalOperationStart implements IAnnotation {
      constructor(name: string);
      readonly annotationType: string;
      name: string;
    }
    class LocalOperationStop implements IAnnotation {
      readonly annotationType: string;
    }

[2018-05-25 01:28] adriancole commented on #212
can you raise a PR to change these things?

[2018-06-01 10:24] jcchavezs opened #217 "Remove http.url in favor of http.path in express middleware"
At the moment, Zipkin JS is including `http.url` as annotation including all query strings. This has som privacy issues (e.g. passing e-mails or tokens in query parameters) so most zipkin instrumentations include the `http.path` instead.

- [zipkin-go](https://github.com/openzipkin/zipkin-go/blob/e260ab9d9af33ad4d9267be78add1d8a62806f74/middleware/http/server.go#L95)
- [zipkin-php](https://github.

[2018-06-01 11:29] adriancole commented on #217
sounds ok just need to be clear how folks who currently rely on this can
transition or otherwise affect tags

[2018-06-07 02:33] berlioz-the opened #218 "Express Middleware with json body-parser looses the tracerId"
Using zipkin express middleware with bodyparser.json. If a POST request is made with Content-Type=application/json it cases the code to go through raw-body parse library which at some point when going through the stream somehow resets the tracerId inside CLSContext.

Added logs inside request handler, middleware, CLSContext, BodyParser and RawBody. The middleware generates a new traceId:**02b7fcdc

[2018-06-15 18:40] russell-matt opened #220 "Restify middleware not reporting errors"
The restify middleware instrumentation is currently not handling error status codes, and thus is not marking the span with the error annotation. This results in Zipkin UI frameworks to not correctly highlight the span as such.

[2018-06-24 00:46] #220 closed

[2018-06-25 07:13] adriancole commented on #207
added to tooling as this is in need of TLC. Basically appveyor has been busted a very long time cc @abesto @jcchavezs

[2018-06-28 10:15] jcchavezs opened #223 "Dont add the X-B3-Flags as binary annotation"
Currently we are annotating the `X-B3-Flags` as a binary annotation but it is a weird behaviour among zipkin clients.

[2018-06-28 10:53] adriancole commented on #223
yep especially as flags 0 is meaningless and flags 1 is the same as the
field span.debug=true

[2018-06-28 11:40] jcchavezs commented on #185
@fbaiodias do we need this?

[2018-06-28 11:41] jcchavezs commented on #204
@epallerols @pchiwan do we need this?

[2018-06-28 11:45] fbaiodias commented on #185
@jcchavezs we will in the future, but right now we're still on v16 😕

[2018-06-28 11:54] jcchavezs commented on #190
Could you open a PR with this?

[2018-06-29 08:55] jcchavezs commented on #223
Closed by https://github.com/openzipkin/zipkin-js/pull/224

[2018-06-29 08:55] #223 closed

[2018-06-30 16:13] abesto commented on #207
Temporarily disabled in #225

[2018-07-02 14:42] iAmMrinal0 opened #227 "Postgres instrumentation creates a new span every time even when part of a request"
I am using the zipkin express middleware with zipkin postgres and when I look in the zipkin dashboard, the middleware service shows up as a separate span and postgres as a separate span even though they are part of the same request. And this breaks any further traces for other services I have, like redis, axios. As seen in the image, all spans above `express_middleware` should have been a part of

[2018-07-03 04:38] #217 closed

[2018-07-03 06:14] jcchavezs commented on #151
@epallerols could you proceed with a PR on this?

[2018-07-04 10:25] jcchavezs commented on #227
Do you use CLS to keep the trace across spans into the same request?

[2018-07-04 10:29] iAmMrinal0 commented on #227
Yes, I do use CLS in all the instrumentations.

[2018-07-04 11:29] jcchavezs commented on #227
Thanks for inform this. Would you change something in the documentation to
avoid future confusions?

Den ons. 4. jul. 2018, 13:25 skrev Mrinal Purohit <notifications@github.com

--

*José Carlos*

[2018-07-05 08:05] jcchavezs commented on #198
Over come by https://github.com/openzipkin/zipkin-js/issues/197

[2018-07-05 08:05] #198 closed

[2018-07-05 08:07] jcchavezs opened #229 "Validate traceID and spanID"
ATM we are not validating the traceID neither the spanID making it possible to receive `a` or `abc`. I believe it is worth to validate it like in other `zipkin` implementations.

We have two options:
1. Validate them in the `traceId` creation.
2. Validate only `traceId` and `spanId` when they come from upstream.

Ping @eirslett @adriancole

[2018-07-06 02:46] #197 closed

[2018-07-06 02:48] adriancole commented on #229
usually we do tolerant read and restart if incompatible.

Ex. 'a' is OK, but 'g' is not. We are tolerant reading mixed lengths ex 1,
17 or 31 hex trace ID is fine, but 33 length trace ID or 17 length span Id
is invalid, so restart trace and ignore other headers when malformed.

[2018-07-06 11:27] jcchavezs opened #230 "Migrate to circleci"
Most zipkin repositories are moving to circle CI so in order to focus knowledge and efforts it would be nice to move this repo to circle CI.

Ping @abesto

[2018-07-06 11:29] jcchavezs opened #231 "Be explicit with supported node versions"
At the moment we don't specify what are the node versions supported in package.json nor documentation.

There are implicit versions supported in the Travis file: https://github.com/openzipkin/zipkin-js/blob/master/.travis.yml

[2018-07-06 11:31] jcchavezs commented on #231
Is this doable @pchiwan @davesnx @epallerols @fbaiodias @mackermans?

[2018-07-06 11:35] jcchavezs opened #232 "Add link to gitter chat"

[2018-07-06 11:36] jcchavezs commented on #210
@chris-smith-zocdoc we usually check the status code to determine whether there was an error. Any chance you can open a PR for this?

[2018-07-06 12:07] davesnx commented on #231
Yes, there's a property on package.json called engines that solves exactly that: https://docs.npmjs.com/files/package.json#engines

[2018-07-06 20:22] chris-smith-zocdoc commented on #210
@jcchavezs Sure, I just put one up

[2018-07-07 08:37] jcchavezs commented on #209
+1 to avoid collisions with a better algorithm. @jemapi would you come up with a PR exploring a solution?

[2018-07-09 07:33] jcchavezs commented on #232
Closed by https://github.com/openzipkin/zipkin-js/pull/235

[2018-07-09 07:37] jcchavezs commented on #218
@berlioz-the could you come up with a test with this failure?

[2018-07-09 07:38] #232 closed

[2018-07-09 07:39] jcchavezs commented on #205
@zephinzer any update on this one?

[2018-07-10 07:47] rcoedo opened #236 "Allow httpServer instrumentation host to be overridden"
Currently the httpServer instrumentation implementation is querying the OS to find the host's ip address on every request. This can lead to a performance problem when the server is under heavy load.

![performance](https://user-images.githubusercontent.com/6409659/42496292-d341ba60-8425-11e8-83b3-627601956214.png)

Allowing the host to be overridden is a simple fix for this problem and it wouldn't

[2018-07-10 10:57] jcchavezs opened #238 "Add coverage badge"
Currently we don't have any indicator about the coverage in the library. Some zipkin libraries use `coveralls` so we might need to to the same. Here it is a library that work with coveralls: https://github.com/nickmerwin/node-coveralls

Ping @adriancole @eirslett @yonran

[2018-07-11 06:06] jcchavezs commented on #236
Closed by https://github.com/openzipkin/zipkin-js/pull/237

[2018-07-11 06:06] #236 closed

[2018-07-11 08:10] jcchavezs commented on #230
My bad, there is not such consensus for now so closing this issue.

[2018-07-11 08:10] #230 closed

[2018-07-11 14:01] jcchavezs opened #240 "Add `span.debug` for debug traces"
See https://github.com/openzipkin/zipkin-js/pull/224/files

[2018-07-12 08:12] laurentgilly commented on #195
+1

[2018-07-12 08:16] jcchavezs commented on #195
@micaelsampaio @pathikmehta @laurentgilly any chance you can write a unit test for this?

[2018-07-12 15:19] #240 closed

[2018-07-12 15:19] jcchavezs opened #242 "Should we have constant for the tags?"
Most zipkin clients include a set of tags for the tag keys. Should we have such a thing in JS?

Ping @adriancole @yonran @eirslett

[2018-07-12 15:22] adriancole commented on #242
not sure if most actually do, but there is probably value in doing this. It would be nice if proto3 had constants as if it did we could generate them :(

[2018-07-12 15:40] keitwb opened #243 "JSON V2 Tag Value Types"
According to the Zipkin v2 [JSON swagger spec](https://zipkin.io/zipkin-api/#/), tag values should be strings.  The JSON conversion code here does not convert either numbers or booleans to strings.

If it should do that, I will add it in a separate PR, but wanted to check I'm understanding it correctly.

[2018-07-12 15:43] jcchavezs commented on #243
Ping @adriancole @eirslett

[2018-07-12 15:45] adriancole commented on #243
yep please do convert to string. We happen to leniently read on our server, but I suspect clones like jaeger, or bridges like skywalking might not leniently coerse to string.

[2018-07-12 15:46] jcchavezs commented on #243
@keitwb could you please come up with a PR for this?

[2018-07-20 09:12] #243 closed

[2018-07-20 12:24] jcchavezs opened #248 "Verify that typescript definition matches with JS functions"
Lately we had [this issue](https://github.com/openzipkin/zipkin-js/pull/246) where TS type (where we declare types and interfaces) did not match JS functions (the actual implementations). It would be good to avoid this inconsistencies by verifying signatures in CI.

Ping @PhiLhoSoft  @lukiano @pbadenski @felixfbecker

[2018-07-22 08:30] jcchavezs commented on #190
@siluri could you please come up with a PR for this?

[2018-07-22 08:30] jcchavezs commented on #195
Ping @timneutkens

[2018-07-22 13:01] timneutkens commented on #195
@jcchavezs same as https://github.com/openzipkin/zipkin-js/pull/146#issuecomment-406864885

[2018-08-04 15:34] 0v3rst33r opened #252 "TypeScript compilation error"
In version `0.14.0` the `IOption` generic type is not referenced as a generic type in the `Tracer#createRootId()` method:
[code]
and thus gives the compile error:
[code]

[2018-08-04 15:40] jcchavezs commented on #252
Could youwrite down the compilation command you are using here?

Den lør. 4. aug. 2018, 17:34 skrev 0v3rst33r <notifications@github.com>:

--

*José Carlos*

[2018-08-04 15:55] 0v3rst33r commented on #252
I have added the compile option
```"skipLibCheck": true```
to my `tsconfig.json` file now and the compile error disappears.

Is this the recommended action I should take?

[2018-08-04 16:02] jcchavezs commented on #252
I am not sure. Could you please open a PR adding the (failing) compilation
of zipkin-js step to Travis?

Ping @PhiLhoSoft

--

*José Carlos*

[2018-08-04 18:54] PhiLhoSoft commented on #252
It is not part of my PR, and I didn't notice this change.
The fix should be simple, the signature should be:

        createRootId(isSampled?: option.IOption<boolean>, isDebug?: boolean): TraceId;

ie. just add the boolean type to IOption.

[2018-08-04 19:42] jcchavezs commented on #252
Totally @PhiLhoSoft I am not blaming you because it is very probable that I
was the one who broke this. I pinged you because you know much more
typescript than me. Do you think we could add a complication step in Travis
as smoke test?

Thanks!

Den lør. 4. aug. 2018, 20:54 skrev Philippe Lhoste <notifications@github.com

--

*José Carlos*

[2018-08-04 19:53] PhiLhoSoft commented on #252
I guessed so... 😄
And, well, it could be a good idea to have a small fake TS code using the whole API, to see if compilation is OK.

[2018-08-04 19:56] jcchavezs commented on #252
Would you please do it? 😀

Den lør. 4. aug. 2018, 21:53 skrev Philippe Lhoste <notifications@github.com

--

*José Carlos*

[2018-08-04 20:02] PhiLhoSoft commented on #252
Not now, as I go in a summer break. Ping me in a month, perhaps? Unless the original reporter volunteers for that... 😁

[2018-08-04 20:05] jcchavezs commented on #252
Enjoy it @PhiLhoSoft!

I hope @0v3rst33r can help us with this 😁.

Den lør. 4. aug. 2018, 22:02 skrev Philippe Lhoste <notifications@github.com

--

*José Carlos*

[2018-08-04 20:30] 0v3rst33r commented on #252
@jcchavezs @PhiLhoSoft I would not mind doing this.  Will only be able to get to it after Tuesday though.  I may have a question or two of what to do if I don't come right, but I will shout.  This ok?

[2018-08-05 02:30] adriancole commented on #252
I will also help answer questions. getting ts tests in would be a blessing!

On Sun, 5 Aug 2018, 04:30 0v3rst33r, <notifications@github.com> wrote:

[2018-08-08 09:35] DanielMSchmidt opened #253 "Add E2E tests to ensure zipkin-js is usable in the browser"
We have the problem that we sometimes merge PRs which add functionality in a way that the entire zipkin library is unusable in the browser (I think there was only one usable version of it, afaik). To prevent us from doing so we need E2E tests, but very simple ones would be sufficient.

We could use cypress to open a browser, click on a button in a  create-react-app which just triggers one span to

[2018-08-08 10:17] jcchavezs commented on #253
This is a terrific idea Daniel! I had a similar idea but since my knowledge
about JS is limited I implemented a E2E test in zipkin-js-example which
runs every night against the master version of zipkin-js. This is
rudimentary but at least worked as smoke test:
https://github.com/openzipkin/zipkin-js-example/blob/master/.circleci/config.yml

Your idea sounds more professional and I would be more th

[2018-08-09 07:48] jcchavezs commented on #252
@0v3rst33r did you have time to start this? 😸

[2018-08-10 06:08] jcchavezs commented on #252
Closed by #254 lets continue the discussion about the test in https://github.com/openzipkin/zipkin-js/issues/248

[2018-08-10 06:08] #252 closed

[2018-08-11 07:41] jcchavezs commented on #212
Closed by https://github.com/openzipkin/zipkin-js/pull/249

[2018-08-11 07:41] #212 closed

[2018-08-11 07:42] jcchavezs commented on #194
@sssession can you please open a PR with the test case (and the potential fix)?

[2018-08-11 07:44] jcchavezs commented on #199
@Ghost---Shadow @nickcodefresh would you come up with a PR for this?

[2018-08-11 08:03] jcchavezs commented on #161
@vigneshnrfs should we close this issue? Also @jeqo any input on this one?

[2018-08-11 08:03] 0v3rst33r commented on #252
Hey @jcchavezs , looks like @kevin-greene-ck is going to do this?

[2018-08-11 08:04] jcchavezs commented on #147
@pbadenski any chance we can come with a PR for either options?

[2018-08-11 08:04] jcchavezs commented on #111
@marcelogft can we close this issue?

[2018-08-11 08:05] jcchavezs commented on #110
@grisanu any chance you can come up with a PR for this?

[2018-08-11 08:06] 0v3rst33r commented on #248
@kevin-greene-ck if you do not get to this over the weekend, then I will tackle this.

[2018-08-11 08:07] jcchavezs commented on #107
@adriancole is this still valid based on the performance concerns from https://github.com/openzipkin/zipkin-js/pull/237?

[2018-08-11 08:09] jcchavezs commented on #19
@clementchi do you still have this issue?

[2018-08-11 08:09] jcchavezs commented on #174
@mkante is this still an issue, can you come up with a test for this?

[2018-08-11 08:12] jcchavezs commented on #252
Hi @0v3rst33r! I though you maybe did not have time for this, nice to see you here :). I like the plan you proposed in https://github.com/openzipkin/zipkin-js/issues/248#issuecomment-412259415 but either way I would ask you for both of you be active reviewer of the other's PR. Does it make sense?

[2018-08-11 10:30] 0v3rst33r commented on #252
@jcchavezs  Perfect sense 😄

[2018-08-11 14:17] jeqo commented on #161
No much. Agree with Adrian that if using Kafka < 0.11, is better to keep using a custom approach.
But, if using Kafka >= 0.11, what would be the library to instrument? is [kafka-node](https://github.com/SOHU-Co/kafka-node) the *de-facto* library for Kafka or there are other options?

[2018-08-12 04:42] Ghost---Shadow commented on #199
@jcchavezs No, I am engaged elsewhere.

[2018-08-12 15:28] kevin-greene-ck commented on #248
@0v3rst33r I haven't gotten to this yet. If you can grab it that would be a help. Thanks, ping me if I need to pick it back up.

[2018-08-13 07:37] marcelogft commented on #111
Yes, you can close it.
Thank you!

[2018-08-13 12:45] #111 closed

[2018-08-13 19:09] mkante commented on #174
I will take a look later

[2018-08-20 17:15] Labrat02 commented on #195
Same error here as well using 0.14.1

[2018-08-20 17:57] jcchavezs commented on #195
Could you please create a test case for this in a PR?

Den man. 20. aug. 2018, 19:15 skrev Labrat02 <notifications@github.com>:

--

*José Carlos*

[2018-08-20 19:08] Labrat02 commented on #195
@jcchavezs I don't have time to create a test case today but I'll see what I can do.  We are moving forward with adding this into our product since it does appear to be a benign warning at this point but it is currently the only warnings being reported by our React build.  This error occurs both in our 'yarn build' as well as showing up in Chrome debugger.

Here is some more information:

The Erro

[2018-08-20 20:21] Labrat02 commented on #195
@jcchavezs Actually, this has become a more critical problem since our current continuous integration does not allow warnings, they are treated as build failures.  The original post about this problem was back in March.. In that time could anyone working on zipkin have looked into and gained insight into the issue?

[2018-08-20 20:36] jcchavezs commented on #195
Hi @Labrat02. Although zipkin have usual commiters in the whole ecosystem,
in JS/node case we try to split the work for general things but for more
specific stuff (like this case) we mostly rely on the community because you
are the ones who have more experience with the bug or the feature request.
You can see a good example of it on this last minor release:
https://github.com/openzipkin/zipkin-js/

[2018-08-20 20:40] jcchavezs commented on #248
@kevin-greene-ck @0v3rst33r can any of you guys start some.prototype on
this one? Thanks a lot!

Den søn. 12. aug. 2018, 17:28 skrev Kevin Greene <notifications@github.com>:

--

*José Carlos*

[2018-08-23 10:51] proudrain opened #256 "Where can I find documents for the API of core package zipkin?"
I need build a custom instrumentation using the API of core package zipkin, but I can't find detailed documents for this in this repo. The README file in the dir of zipkin only described some basic API, such as how to create a tracer object.

I also got *'We include TypeScript definition filewhich you can also use as documentation'* in README, but there are no comments for these interface.

So whe

[2018-08-23 11:41] adriancole commented on #256
there is no other documentation besides the readme files. feel free to help
improve them. this is a volunteer run project!

[2018-08-23 12:15] proudrain commented on #256
Got it, thx. I'm glad to improve the documentation after I fully undertand the existing design.

[2018-08-23 12:16] #256 closed

[2018-08-23 12:38] adriancole commented on #256
feel free to join https://gitter.im/openzipkin/zipkin with questions meanwhile

[2018-08-24 10:14] jcchavezs commented on #256
I'd prefer to keep this issue open so we give visibility to documentation
concerns. WDYT?

Den tor. 23. aug. 2018, 14:38 skrev Adrian Cole <notifications@github.com>:

--

*José Carlos*

[2018-08-24 10:46] jnazander commented on #218
I've had this problem. The solution is move `app.use(bodyParser.json());` higher up in the middleware chain, before your Zipkin middleware.

[2018-08-24 11:35] jcchavezs commented on #218
Would you be up to add it to a throobleshoting section?

Den fre. 24. aug. 2018, 12:46 skrev Jevgeni Nazander <
notifications@github.com>:

--

*José Carlos*

[2018-08-24 11:46] jnazander commented on #218
In readme.md you mean? Yes, sure.

[2018-08-26 09:05] jcchavezs commented on #218
Yes. Awesome!

Den fre. 24. aug. 2018, 13:46 skrev Jevgeni Nazander <
notifications@github.com>:

--

*José Carlos*

[2018-08-27 02:05] jnazander commented on #218
#257

[2018-08-27 09:27] #218 closed

[2018-08-27 09:28] #179 closed

[2018-08-29 06:56] adriancole opened #259 "implement "b3 single" header format"
As discussed on https://github.com/openzipkin/b3-propagation/issues/21 and first implemented here: https://github.com/openzipkin/brave/blob/master/brave/src/main/java/brave/propagation/B3SingleFormat.java https://github.com/openzipkin/brave/blob/master/brave/src/test/java/brave/propagation/B3SingleFormatTest.java

Let's support at least reading "b3" header from a single string, most commonly trace

[2018-09-10 10:16] MindMincer commented on #191
hi, is there any update on this?
some plans or at least an idea why it won't have a place in the nearest future?

[2018-09-10 14:20] adriancole commented on #191
The reason why this hasn't progressed is the easiest one to answer.
This is a completely volunteer run project, so someone would need to
offer help to implement this. If you can help with this, you can make
the future more near!

[2018-09-14 06:54] jcchavezs commented on #192
Hi @moralce is this still an issue?

[2018-09-14 06:57] jcchavezs commented on #191
@MindMincer do you feel like starting a PR for this? as @adriancole pointed out this is completely a volunteers project so it would be nice if you (which probably have more code at hand) can lay the foundations of this 😸 . What do you think?

[2018-09-21 11:50] sonybinhle opened #263 "addZipkinHeaders return void instead of object"
In the index.d.ts file, the addZipkinHeaders return void
[code]

The actual implementation is the function addZipkinHeaders return a object
[code]

Same as https://github.com/openzipkin/zipkin-js/issues/190

[2018-09-21 12:27] jcchavezs commented on #248
@kevin-greene-ck @0v3rst33r did you have time to get this started?

Thanks a lot!

[2018-09-21 12:34] jcchavezs commented on #263
`addZipkinHeaders(req, traceId)` is supposed to return a new request so could you please open a PR changing it?

On the other hand, there is [this issue](https://github.com/openzipkin/zipkin-js/issues/248) that if resolved would avoid such differences.

[2018-09-21 13:10] sonybinhle commented on #263
@jcchavezs I would like to create a PR for this issue.
If there is no one work on #248 I would also like to work on it

[2018-09-21 13:11] jcchavezs commented on #263
Awesome!

Den fre. 21. sep. 2018, 15:10 skrev Binh Le <notifications@github.com>:

[2018-09-25 14:49] jcchavezs opened #267 "Add support for span customizer in frameworks"
At the moment there is no way to customize the `span` create by server frameworks. Use cases could be:

1. Add request ID from headers when upstream is not instrumented.
2. Request sampling decision ([like in zipkin-go](https://github.com/openzipkin/zipkin-go/pull/61/files)).

Ping @eirslett @adriancole @basvanbeek @fbaiodias

[2018-09-30 13:05] sonybinhle commented on #190
@jcchavezs We can relate this one with https://github.com/openzipkin/zipkin-js/issues/263

[2018-10-01 08:18] jcchavezs commented on #190
@sonybinhle totally!

[2018-10-08 09:00] #190 closed

[2018-10-08 09:00] #263 closed

[2018-10-08 09:01] #248 closed

[2018-10-08 09:02] jcchavezs opened #268 "Backfill ts tests for actual implementations."
After https://github.com/openzipkin/zipkin-js/pull/264 was merged now we have a way to test implementation to fulfill TS signature. What is missing now is to backfill tests for all packages.

Ping @sonybinhle

[2018-10-08 20:48] sonybinhle commented on #268
@jcchavezs Could you please assign this issue to me?

What is the standard PR styles in our project?
For example, I prefer to write the test for about 10 functions at once and file by file.
I mean if I create the PR for this issue, I will divide it into multiple small PRs.

[2018-10-09 01:06] adriancole commented on #268
usually we do a PR per task not per file. if all the changes are related I
would raise one pr

On Tue, 9 Oct 2018, 04:48 Binh Le, <notifications@github.com> wrote:

[2018-10-09 18:37] sonybinhle commented on #268
@adriancole @jcchavezs Thank you very much, so I will raise the PRs per package.

[2018-10-16 16:15] DavideCarvalho commented on #195
I was debbuging and the problem is with "require.call"
The errors are on HttpLogger.js on zipkin-transport-http lib and InetAddress.js on zipkin lib

[2018-10-17 05:39] jcchavezs commented on #195
@DavideCarvalho would you be able to open a PR with a fix or with a test case?

[2018-10-17 11:04] DavideCarvalho commented on #195
I'm at work right know, but I'll try to make the PR when I get home

[2018-10-19 23:43] DavideCarvalho commented on #195
Maybe we should use some kind of bundler for the zipkin packages, so it can tree shake some of the deps. zipkin-transport-http is giving warnings because of peer deps.
![image](https://user-images.githubusercontent.com/15630886/47248265-81951900-d3df-11e8-99a3-edeb7f6ed817.png)

[2018-10-19 23:59] DavideCarvalho opened #270 "Use bundler"
Maybe zipkin libs should use a bundler like [rollup](https://rollupjs.org/guide/en). This will make libraries lightier because of tree shaking and dead code elimination.
Front end applications should have a big improvement because of this.

Relates to #195 (comment)

[2018-10-20 21:47] jcchavezs commented on #270
Thanks @DavideCarvalho would you open a PR for drafting this? Any idea whether this would impact our releasing process?

[2018-10-20 21:49] jcchavezs commented on #270
Relates to https://github.com/openzipkin/zipkin-js/issues/195#issuecomment-431528258

[2018-10-20 22:08] jcchavezs commented on #214
@zhangzhenhuajack  would you start a PR with this feature?

[2018-10-23 02:17] DavideCarvalho commented on #270
Okay, i'll do it once require.call PR is over

[2018-10-23 05:39] #268 closed

[2018-10-26 11:29] #195 closed

[2018-10-26 11:30] DavideCarvalho commented on #270
I'm make this PR ASAP.
We are using zipkin js at work and trying to load it with SystemJS. The way it is bundled today it's really making things really hard for us.
I cloned the repo and made a rollup configuration for zipkin to generate .umd, cjs e esm files (the main is cjs).
If you prefer, we could still build the way it is built now a days and just add the rollup build as well.

[2018-10-26 11:42] DavideCarvalho commented on #253
@DanielMSchmidt I was thinking the same thing, really nice that this issue is open.
Do you know if the zipkin library is broken, it will break the app too?

[2018-10-26 11:43] DavideCarvalho opened #273 "Update Babel to 7"
Since babel is on version 7 now, maybe we could update it.
Babel deps names went from babel-something to @babel/something. This should be a really easy thing to do.

[2018-10-26 11:49] DavideCarvalho opened #274 "Create Documentation"
Maybe create a documentation page with docusaurus, docsify or something like it.
We could publish it on github pages.
[link for docusaurus](https://docusaurus.io/)
[link for docsify](https://docsify.js.org/)

[2018-10-26 12:15] jcchavezs commented on #273
Good one. Any chance you start a PR on this?

[2018-10-26 12:16] jcchavezs commented on #270
Awesome @DavideCarvalho !

[2018-10-26 12:45] DavideCarvalho commented on #273
I'll make a pr on this when #272 is done

[2018-10-26 19:18] jcchavezs commented on #273
Can’t this be done before #272?

José Carlos

[2018-10-26 19:37] jcchavezs commented on #273
Awesome!

Den fre. 26. okt. 2018, 21:26 skrev Davi de Carvalho <
notifications@github.com>:

[2018-10-26 19:40] jcchavezs commented on #273
I think this is a easier win. We can achiever earlier. What do you think?

Den fre. 26. okt. 2018, 21:37 skrev José Carlos Chávez <jcchavezs@gmail.com

[2018-10-26 19:47] DavideCarvalho commented on #273
I thinking changing to Babel 7 should be easier than creating the rollup bundle just because of the ci.

[2018-10-26 19:47] DavideCarvalho commented on #270
Maybe create a git-hook with husky to generate the bundle before commiting should be a good strategy for now.

[2018-10-26 19:48] DavideCarvalho commented on #270
Husky really should be a thing. Building before commiting to ensure nothing is break is a good idea.

[2018-10-26 23:19] adriancole commented on #270
Davi we are very grateful for your help. Rock on!

[2018-10-27 01:42] DavideCarvalho commented on #270
@jcchavezs I'm not saying to drop version 4 compatibility, but node 4.x doesn't let us build.
Is there any way we can build with node>4.x and test it with 4.x?

[2018-10-27 01:51] DavideCarvalho opened #275 "Roadmap"
Okay, since i'm creating a bunch of issues, you guys must be thinking why I'm doing this.
zipkin js is one of the few libs on js community to integrate with zipkin. There are even libs on top of zipkin-js.
Since I'm working with zipkin js at work, I stumbled upon some really annoying things, and I wanted to help you to make this lib better and more famous.

Okay, now that you know why I'm doing th

[2018-10-27 07:28] jcchavezs commented on #275
Thanks a lot for bringing this issue. My two cents:

- Regarding preset2015, I agree the two bundles are good.
- Regarding flow, I think @drolando was interested on using flow in Zipkin JS
- Regarding typescript, @sonybinhle is our TS expert so pinging him here.

All the rest looks good to me. Any input @adriancole?

[2018-10-27 23:29] adriancole commented on #275
cc also @abesto

On Sat, 27 Oct 2018, 16:28 José Carlos Chávez, <notifications@github.com>
wrote:

[2018-10-27 23:33] adriancole commented on #275
love your plan, Davi.

If you are also interested, we promote sites using zipkin as well. we are
often asked about sites tracing javascript applications. if you are open to
sharing your info here is the template. if you are up to creating a wiki
account ping back and i will give access. you can also take this offline
(well online i guess ;)) on gitter
https://cwiki.apache.org/confluence/display/ZI

[2018-10-28 01:46] adriancole commented on #270
I think we should use our devops group when asking questions like this else
things get pinned to the creativity and accessibility of individuals ;)

On Sat, 27 Oct 2018, 15:22 José Carlos Chávez, <notifications@github.com>
wrote:

[2018-11-03 23:39] danielkhan opened #276 "Error 400 when sending spans from redis instrumentation"
I am trying to isntrument redis which seems to work until the span is sent to zipkin.
This results in an error 400.
See below.

[code]

[code]

[2018-11-03 23:40] danielkhan commented on #276
Never mind. As the server in this setup is jaeger zipkin is most probably not to blame for it.

[2018-11-03 23:40] #276 closed

[2018-11-07 07:45] jcchavezs commented on #273
Hi @DavideCarvalho,

Did you have time to work on this? Thanks!

Den fre. 26. okt. 2018, 21:47 skrev Davi de Carvalho <
notifications@github.com:

[2018-11-07 11:28] DavideCarvalho commented on #273
Sorry, I'm getting ready for a lecture I'm going to do on this saturday morning, so I stopped everything else.
But i've started doind this. I changed the dependency to babel 7, but some tests started to break after I changed - more specifically zipkin-instrumentation-request-promise -

[2018-11-07 11:45] jcchavezs commented on #273
Maybe opening the PR would allow us to ping @mkante as they are the one who kindly created this package.

[2018-11-08 20:30] mkante commented on #273
@jcchavezs @DavideCarvalho  I will take a look at your PR tonight or tomorrow. Thanks

[2018-11-10 14:49] mkante commented on #273
@DavideCarvalho I cloned your branch `DavideCarvalho:feature/rollup-bundle` I didnt see your changes. So far all tests and linter are fine. If you still need my help let me know.

[2018-11-12 02:30] adriancole commented on #275
sounds good. you are excellent at being transparent and helping out, Davi

On Mon, 12 Nov 2018, 10:25 Davi de Carvalho, <notifications@github.com>
wrote:

[2018-11-12 13:35] jcchavezs commented on #275
Thanks a lot Davi. I think we can close the PR but keep the branch in
bundler. Doing the Babel change sounds better as a short term goal. Thanks
for the willingness to help and the great communication flow.

Den man. 12. nov. 2018, 03:25 skrev Davi de Carvalho <
notifications@github.com:

[2018-11-12 13:52] jcchavezs commented on #273
This is the PR https://github.com/openzipkin/zipkin-js/pull/277

[2018-11-13 08:05] jcchavezs opened #282 "Drop support for node 4"
Lately we have been experiencing some blockers in terms of innovation in this library. Mainly because of the incompatibility of node 4 with newer versions of popular libraries (e.g. babel or ts-runtime).

At the beginning we tried to [skip node4 version for some CI jobs](https://github.com/openzipkin/zipkin-js/pull/264/commits/9ca24d264851ac3450b0429a5de10bb66e170e28) but this is something we can'

[2018-11-13 11:51] jcchavezs commented on #282
Agree @DavideCarvalho this is what we did for `ts-runtime` so the idea is the decide whether this overhead is worth or not.

[2018-11-13 11:54] eirslett commented on #282
I think we already decided to drop support for Node < 8.
Let's just release version 1.0 which only has support for Node.js 8 and above? We shouldn't be burdened with users running older versions, then they'll have to stay on an old version of zipkin-js or make their own backports.

[2018-11-13 11:59] eirslett commented on #282
It's also a duplicate of #146 I guess.

[2018-11-13 12:47] basvanbeek commented on #282
Can’t keep on supporting older versions indefinitely at the expense of the project (lost resources). I think being i sync with Node LTS is a good and clear signal to users. I think Node 6 is EOL April next year.

[2018-11-13 16:00] eirslett commented on #282
Ok, let's just do it like this.
We stop supporting Node 6 from now on immediately, and then for v1 we only support Node 8+.
 @openzipkin/core Any objections? Does this have to go through any formal Apache voting process, or can we just decide? @michaelsembwever ?

[2018-11-13 16:09] eirslett opened #283 "Port the whole zipkin-js codebase to TypeScript"
This is a suggestion.

For the v1.0 milestone, we could port the whole zipkin-js codebase to TypeScript. We could then publish the generated type bindings.
It would take some work to do the actual rewriting, but I'm sure somebody would be interested in doing the actual work (If not, then of course it's not feasible).

The gains would be:
- Type-checking the whole codebase at build time can potenti

[2018-11-13 16:15] devinsba commented on #282
:+1: from me, Node releases seem to have slowed down. I think for sustainability sake making 1.0 based on Node 8 puts things in a good place, not to mention probably makes working on `zipkin-js` more enticing to the community.

I think aligning major versions with Node LTS releases is a good long term strategy, though we should make sure we know our policy for how long we will maintain previous ma

[2018-11-13 16:40] eirslett commented on #282
I suggest that we change supported Node versions for every minor version increase. Then we keep a list of minor releases and corresponding supported Node versions. If anybody needs to run a newer version of zipkin-js on an older version of Node, they will have to take on that burden themselves.

[2018-11-13 19:35] jcchavezs commented on #282
Not that I know by heart but we asked it on twitter. I have no access to
GitHub now but maybe the right person to ask is the one who added version 4
in travis.yml file?

Den tir. 13. nov. 2018, 20:31 skrev Eirik Sletteberg <
notifications@github.com:

[2018-11-13 19:44] eirslett commented on #282
@rexxars are you still on Node.js 4?

[2018-11-13 21:51] DavideCarvalho commented on #283
Nice issue, but i’d like to ask you: Why Typescript and not Flow?

[2018-11-13 22:00] DavideCarvalho commented on #275
Maybe we could use this issue as the roadmap for 1.0, what you guys think?

[2018-11-13 22:13] DavideCarvalho commented on #283
My thoughts:
- Transpile the zipkin codebase shouldn't be a problem, since it already uses Babel, if we can upgrade to babel 7, we can use @babel/preset-typescript for transpiling TS
- TS isn't really that hard, and the only thing it adds its type checking, this shouldn't be a problem.

I guess we don't have to consider people disliking TS, but think that a type checking system will ensure that th

[2018-11-13 22:16] DavideCarvalho commented on #282
I agree with @eirslett, keeping up with NodeJS LTS is the best strategy.
I guess someone should create a project, or at least an issue with the roadmap for 1.0, maybe use the already made #275

[2018-11-14 00:11] adriancole commented on #282
👍 from me. Incidentally, this project isn't scheduled to go to ASF at the moment.

[2018-11-14 03:07] rexxars commented on #282
I'm fine with dropping support for node 4. I generally think that tracking node lts is a good idea.

[2018-11-14 10:10] eirslett commented on #283
My impression is that Flow is somewhat better for React frontend projects and TypeScript is better for backend/node.js projects, but that's not _really_ the case. For every release, they seem to get more similar. They are practically interchangeable. Flow can do feature X and TypeScript can do Y etc (IDE integration, gradual typing, features of the type system, IDLs for common APIs and libraries..

[2018-11-14 10:47] DavideCarvalho commented on #283
From my experience with Flow, TS ecosystem is much more developed and stable, so I agree that TS is the best choice.
I think that people that dislike TS it's because TS is a super set of JavaScript, but with Babel TS, it becomes just a type checker, just like Flow, so I guess people will dislike it less.

[2018-11-15 16:53] jhonatanforero opened #284 "AWS KINESIS span transport support"
Hi,

Are there any plans to support AWS KINESIS as a span transport?

Thanks!

[2018-11-15 20:00] eirslett commented on #282
It's officially decided then. Support for node.js 4 is dropped. I guess this issue can be closed.

[2018-11-15 21:04] jcchavezs commented on #282
@eirslett maybe the last thing before closing this issue would be to:
1. remove support from travis
2. upgrade whatever dependency where node4 compatibility was a restriction.

What do you think?

[2018-11-15 21:12] jcchavezs commented on #283
Thanks @eirslett for bringing this over the table. This sounds like a great idea however I have some concerns:

1. This looks like a big piece of work as it represent a major rewrite of the library, in that direction my main concern is the resources needed for quite a refactor and also the availability of address bugs that might appear.
2. This questions about TS vs flow seem to be common, I total

[2018-11-15 21:17] jcchavezs commented on #284
Hi @jhonatanforero thanks for raising this issue. This project is mainly driven by volunteers so the way we usually work is that we offer direction and help to those users with a feature request so they can do the implementation. Are you up to start such a work?

[2018-11-15 21:38] jhonatanforero commented on #284
Yes, I'm Interesting in the functionality because I have a Nodejs Lambda in AWS

[2018-11-16 00:05] eirslett commented on #282
Yup. Let's do it.

[2018-11-16 00:13] eirslett commented on #283
It makes a lot of sense!

1) Fortunately, it's possible to gradually migrate to TypeScript, you don't have to do everything at once, in one big chunk. Since it's a superset of JavaScript, you can rename `.js` to `.ts`, run it through the type checker with "less strict" configuration, and it will still work.
There probably won't be any bugs by a direct port to TypeScript (I wouldn't really call it

[2018-11-16 00:48] adriancole commented on #284
fyi this transport exists in the java side in zipkin-aws repo. one decision
to make is keeping here or make zipkin-aws polyglot. probably here...

cc @devinsba @zeagord

On Fri, 16 Nov 2018, 05:38 jhonatanforero, <notifications@github.com> wrote:

[2018-11-16 01:58] jhonatanforero commented on #284
Hi @adriancole

Yes, I  can use the **Zipkin AWS Kinesis collector** from docker image but first I need send the traces with **NodeJs** Lambda. how can I do it? maybe it is a new feature because nodeJs Kinesis transport doesn't exists.

[2018-11-16 02:33] adriancole commented on #284
agreed. you would either need to make something yourself based on our kafka
one here, or someone else would :) ideally something like this ends up open
source for others..

[2018-11-16 05:10] rexxars commented on #282
Might also want to add the engines field to `package.json`

[2018-11-16 09:03] jcchavezs commented on #282
Does this will affect browser usages? (Not a frontend guy)

Den fre. 16. nov. 2018, 07:10 skrev Espen Hovlandsdal <
notifications@github.com:

[2018-11-16 09:05] rexxars commented on #282
It might warn if you are using node 4 when running npm install, but given its out of LTS I feel this is perfectly acceptable.

[2018-11-16 10:27] jcchavezs opened #285 "Collaborators list"
Hi all,

We recently had a lot of great synergy around this project because many amazing developers jumped in. Since it looks like we are going to have [a lot of collaboration coming around v1.0](https://github.com/openzipkin/zipkin-js/projects/1) it would be nice to have a list of frequent collaborators so we can ping them in on important issues and ask for their feedback.

So, please reply with

[2018-11-16 10:30] jcchavezs commented on #284
I think it is easier to have a separated repo for this, so we can have
smaller scope and dedicated documentation but I don't have an strong
opinion at this. It would be also great to have some input from @devinsba
@zeagord.

José Carlos Chávez

Den fre. 16. nov. 2018 kl. 04:33 skrev Adrian Cole <notifications@github.com

[2018-11-16 10:37] jcchavezs commented on #282
Awesome, could any take the ownership of this task (mostly in the part of
see what libraries to upgrade now we dropped node 4). Otherwise I can just
pick it up but probably not have the enough knowledge to upgrade the
libraries.

José Carlos Chávez

Den fre. 16. nov. 2018 kl. 11:06 skrev Espen Hovlandsdal <
notifications@github.com>:

[2018-11-16 10:47] zeagord commented on #284
I think it is better to have a separate repo with a well defined scope and documentation would be great.  We might start getting requests for other cloud providers as well. It will be maintainable if kept separate.

[2018-11-16 11:15] adriancole commented on #284
I would be up for separate repo but maybe not kinesis specific. there are
many aws transports and they have similar needs and libraries.

On Fri, 16 Nov 2018, 18:47 Raja Sundaram, <notifications@github.com> wrote:

[2018-11-16 11:16] jcchavezs commented on #284
Right, so zipkin-js-aws could be a thing?

José Carlos Chávez

Den fre. 16. nov. 2018 kl. 13:15 skrev Adrian Cole <notifications@github.com

[2018-11-16 11:17] adriancole commented on #284
sgtm want the honors of creating it? ;)

On Fri, 16 Nov 2018, 19:16 José Carlos Chávez, <notifications@github.com>
wrote:

[2018-11-16 11:19] jcchavezs commented on #284
Of course! @jhonatanforero would you be up to work on this?

José Carlos Chávez

Den fre. 16. nov. 2018 kl. 13:17 skrev Adrian Cole <notifications@github.com

[2018-11-16 11:37] adriancole commented on #285
I am in

[2018-11-16 13:15] DavideCarvalho commented on #285
I  am in

[2018-11-17 03:32] DavideCarvalho commented on #282
Babel 7 deps are updated #277, only waiting for the merge to be accepted
Node 4 is already dropped from travis
I guess we can close it after babel 7 is merged

[2018-11-17 09:40] sonybinhle commented on #285
I am in

[2018-11-17 14:02] DavideCarvalho opened #289 "Add Changelog"
Since we’re going to version 1, we should have a changelog describing what changed from one version to another

[2018-11-17 17:38] jhonatanforero commented on #284
Yes, lets start!

[2018-11-17 23:03] jcchavezs commented on #284
Done https://github.com/openzipkin/zipkin-js-aws

José Carlos Chávez

Den lør. 17. nov. 2018 kl. 18:38 skrev jhonatanforero <
notifications@github.com>:

[2018-11-19 08:55] haoguanjun commented on #109
https://github.com/DanielMSchmidt/zipkin-javascript-opentracing provide a wrapper for OpenTracing API.

[2018-11-19 08:59] DavideCarvalho commented on #256
There is a PR open to do the documentation. It’s in early stages though #281

[2018-11-19 10:15] DanielMSchmidt commented on #109
Thank you for the alert :) Awesome to see the typescript conversion, might be a good idea to move DanielMSchmidt/zipkin-javascript-opentracing also to typescript 🤔

[2018-11-19 21:41] DavideCarvalho commented on #283
Babel 7 has typescript preset, so it should be easy to port and make interop between the js and ts files.

[2018-11-19 21:43] DavideCarvalho commented on #270
Now that node4 has dropped, we can try to bundle the library again.
I guess we can try to bundle ts and js files together, (while the codebase is not entirely ts) see if it’s possible.

[2018-11-19 22:09] sonybinhle commented on #283
Yes, I also think it will not be hard and time-consuming. Many good js libraries use either flow or ts for good purposes and we should too. I also prefer ts since they have a bigger community and more mature.

[2018-11-20 05:52] jcchavezs commented on #282
This is done. Thanks for your participation guys!

[2018-11-20 05:52] #282 closed

[2018-11-20 05:52] jcchavezs commented on #285
Ping @briancavalier

[2018-11-20 05:52] jcchavezs commented on #283
Ping @briancavalier

[2018-11-20 13:56] #273 closed

[2018-11-21 01:50] ghermeto commented on #186
@jcchavezs looks like this was fixed by https://github.com/openzipkin/zipkin-js/pull/188.

Can you close this?

[2018-11-21 08:12] #186 closed

[2018-11-21 11:18] zeagord commented on #283
I am not hugely opinionated on choosing TypeScript vs Flow. But Flow as a community seems to stalled and that's what at least I am seeing. IMHO we can use TypeScript.

[2018-11-21 13:02] haoguanjun opened #291 "Use timestamp of sec instead of now () to set starttimeStamp of Partialspan"
In function PartialSpan, we set startTimestamp property of PartialSpan to now(), and, in method record of BatchRecorder, we avoid timestamp property of parameter sec, so the start time of the span always fix to now().
By this way, we can't correct send a span that start time does not set to now().
So if we use options.startTime to start a span at special time, It will reset to now().

[2018-11-21 13:13] haoguanjun opened #292 "add timestamp parameter to recordAnnotation method of Tracer"
Currently, in recordAnnotation method, we fix set the timestamp property of Record to now().
Sometimes, I hope a record has difference timestamp instead of now, for example, after a page loaded, I hope I can create a record that indicate a previous timestamp.
If we have a second parameter timestamp, It will helpful.

[2018-11-21 14:44] adriancole commented on #292
in brave we allow this but it is tightly coupled to the clock. in other
words care should be taken to use the same time source or be aware that
this might result in confusing data.

On Wed, 21 Nov 2018, 21:13 haoguanjun <notifications@github.com wrote:

[2018-11-21 14:50] eirslett commented on #292
I can imagine this would be an easy solution to a complex problem, but I'm a bit reluctant, it would make it easy for developers to shoot themselves in the foot... confusion between seconds/ms/ns, time skew, people thinking that it's a mandatory field (misunderstandings), corrupt data if the timestamps are way off...
With automatic timestamping in recordAnnotation, there is also an actual one-to-o

[2018-11-21 14:57] jcchavezs commented on #292
IMHO this is convenient because sometimes you catch a time for an
annotation and then decide whether annotate or not based on certain things.
I would add a second optional parameter and by default use `now()`.
zipkin-go not only allows this but makes it required
https://github.com/openzipkin/zipkin-go/blob/master/span.go#L21 whereas
zipkin-php makes it a nullable second parameter using `now()` by

[2018-11-22 07:05] jcchavezs commented on #292
Any chance you can open a PR for this @haoguanjun
<https://github.com/haoguanjun>?

Den ons. 21. nov. 2018, 15:57 skrev José Carlos Chávez <jcchavezs@gmail.com:

[2018-11-22 09:22] haoguanjun commented on #292
Thanks, @jcchavezs, I will do it.

[2018-11-22 11:07] jcchavezs commented on #289
Adding to 1.0 milestone.

[2018-11-22 14:37] haoguanjun commented on #292
#296

[2018-11-23 09:54] jcchavezs commented on #147
@DavideCarvalho @sonybinhle @eirslett @adriancole should we include this in 1.0?

[2018-11-23 09:55] jcchavezs commented on #41
Closed by https://github.com/openzipkin/zipkin-js/pull/294

[2018-11-23 09:55] #41 closed

[2018-11-23 09:56] jcchavezs commented on #22
I think this should be part of 1.0. Any thoughts @eirslett @adriancole ?

[2018-11-23 09:56] jcchavezs commented on #16
Any input @DavideCarvalho @sonybinhle?

[2018-11-23 10:14] DavideCarvalho commented on #16
I started a branch for this task. I think the best tech for this is rollup, since we can transpile for es5 and es6 at the same time. If someone needs to target only evergreen targets, they can use es6 build (and use stuff like type=module for scripts), otherwise, use es5.

[2018-11-23 11:20] sonybinhle commented on #16
I am for rollup also.

[2018-11-23 18:50] mkante commented on #285
Im in

[2018-11-24 00:12] adriancole commented on #147
if there's no PR maybe we should close the issue? In general I was hoping a 1.0 would include a design like brave, zipkin-php and zipkin-go which could have a similar approach to this topic.

Either way, reporting data after the fact has two options like mentioned last year :P

[2018-11-24 00:15] adriancole commented on #22
the data model used by batchrecorder is v2 so it can support ipv6. however, there's no data that supplies it at the moment.. everything assumes ipv4 still iiuc https://github.com/openzipkin/zipkin-js/blob/a8ab73d26157a3b25b207425e2808ee39105afa1/packages/zipkin/src/batch-recorder.js#L119

[2018-11-26 06:49] jcchavezs commented on #16
Awesome. I will link this issue in the rollup one. Thanks guys!

Den fre. 23. nov. 2018, 11:20 skrev Binh Le <notifications@github.com:

[2018-11-27 10:21] jcchavezs commented on #285
@DavideCarvalho I added you, you just need to accept the invitation.

[2018-11-27 21:47] DavideCarvalho commented on #285
@jcchavezs i haven't received any invitation so for on github, where can I check?

[2018-11-28 05:45] jcchavezs commented on #285
@DavideCarvalho just reinvited you. Let me know if you did not receive it by e-mail. I also believe you can see it going to https://github.com/orgs/openzipkin/teams/zipkin-js-champions/members

<img width="1016" alt="image" src="https://user-images.githubusercontent.com/3075074/49131624-2a853c80-f2d9-11e8-9d98-978fbb162a22.png">

[2018-12-05 10:51] jcchavezs commented on #270
[Comment](https://github.com/openzipkin/zipkin-js/issues/16#issuecomment-441215893) from @sonybinhle:

[2018-12-05 10:56] jcchavezs commented on #270
Would be nice to have some input from @openzipkin/zipkin-js-champions and @ghermeto

[2018-12-05 11:37] DavideCarvalho commented on #270
This shouldn't be a difficult task. Rollup has a nice example that we can basically copy and paste. I don't know how it works with .ts and .js files together, tho, but I don't think it should be a problem for Rollup.

[2018-12-05 11:57] sonybinhle commented on #270
@jcchavezs Could I take it? if it is still not assigned to anyone. 💃

[2018-12-05 12:03] DavideCarvalho commented on #270
@sonybinhle go for it! I guess no one is doing it

[2018-12-05 12:06] jcchavezs commented on #270
Yes please!

José Carlos Chávez

Den ons. 5. des. 2018 kl. 13:03 skrev Davi de Carvalho <
notifications@github.com>:

[2018-12-05 21:40] webmutation commented on #270
https://www.npmtrends.com/rollup-vs-webpack

Rollup use is kind of declining. Just wanted to leave this here since browserify was picked last time was also declining. In any case they are very similar.

[2018-12-05 22:30] DavideCarvalho commented on #270
@webmutatation this is interesting, but nowadays as far as I know, rollup it the only one who can output some types of modules, like esm and mjs. Do you know any alternatives for these?

[2018-12-08 21:17] ewhauser opened #311 "Make browser support a first class citizen"
I'm integrating a browser app and I'm finding a couple of issues related to browser support. I'd like to open a number of sub-issues related to making browser support work again, but wanted feedback prior to doing it:

1. Update the README to explicitly state which modules are supported by under which runtimes
2. For browser supported modules, all tests should be run under karma as well as mocha t

[2018-12-08 21:30] jcchavezs commented on #311
We are totally up for this.

1 & 2 are things we definitively want,
3 could be fixed but in my experience in other languages it is alright if
we have to use two libraries for http reporting. So if at some point we
need this to be configurable it is OK.
4. Is something @openzipkin/zipkin-js-champions and @ghermeto
<https://github.com/ghermeto>could provide feedback about.

Den lør. 8. des. 2018, 22

[2018-12-08 23:18] ewhauser opened #313 "Run tests under karma to prevent browser regressions"
The tests currently only run via a node.js runner which allows for the introduction of regressions when running under the browser.

[2018-12-09 00:54] ewhauser opened #315 "Fix test for timestamp precision in browser"
zipkin-js/#314 adds support for running browser tests under karma. There is an [existing test](https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin/test/batch-recorder.test.js#L145) in `batch-record.test.js#should record duration in microseconds` that has been disabled under this runner due to an error.

This error existing previously (we just didn't run it under CI), so it has been

[2018-12-09 06:47] jcchavezs commented on #285
@davidecarvalho are you on gitter.im?

Den tir. 27. nov. 2018, 22:47 skrev Davi de Carvalho <
notifications@github.com:

[2018-12-09 08:55] jcchavezs commented on #311
1, I don’t know if we have time for it right now. If the community helps,
it will make stuff a lot easier

+1 to this, we depend on community work.

Den søn. 9. des. 2018, 01:22 skrev Eric Hauser <notifications@github.com:

[2018-12-10 06:23] jcchavezs opened #316 "Autopublish merges into master as canaries"
Currently, releasing is a manual process, not often and error prone. It is very likely changes in configuration can break the process without further notice. Releasing every canary would fix that problem.

See https://github.com/lerna/lerna/tree/master/commands/publish#--canary

Ping @openzipkin/zipkin-js-champions

[2018-12-10 06:53] jcchavezs commented on #284
@jhonatanforero did you have time to get this started?

[2018-12-10 06:54] jcchavezs commented on #291
@haoguanjun so to be clear, this is a feature request to be able to pass a start time to a span, isn't?

[2018-12-10 07:06] DavideCarvalho commented on #316
We should not use master canary releases. Master should only publish when we have a pack of changes ready to be publish as a stable version.

Instead of using Master for that, we should create a “develop” branch and use it for that. Why develop? See gitflow https://zellwk.com/blog/git-flow/

[2018-12-10 16:03] eirslett commented on #316
I disagree, I don't think having a separate develop branch and a "release-only" master branch is a good idea. Git tags serve the purpose of identifying which commits are release commits. I think every commit on the master branch should be released as a canary. So :+1:

[2018-12-11 00:39] ghermeto commented on #316
would be much appreciated. 👍

[2018-12-11 05:55] jcchavezs commented on #313
Shall we close this as #314 is merged?

[2018-12-11 05:56] #313 closed

[2018-12-11 05:58] jcchavezs commented on #270
So after #270 is merged, what is missing here?

[2018-12-11 05:59] adriancole commented on #316
sounds fine to me as long as versions do sensible things. master should always be working though there is some big change with typescript coming up so common sense should apply on when to merge things knowing the canary stuff. (ex increment version before huge change)

[2018-12-11 05:59] jcchavezs commented on #267
@ghermeto this is what I was talking about when it comes to span customizer.

[2018-12-11 15:23] sonybinhle commented on #270
@jcchavezs I currently use Rollup for Packages/zipkin. The rest are still using the old way of bundling. Should I start adding Rollup for the rest packages?

[2018-12-11 15:51] devinsba commented on #316
I agree with the canaries from master idea, if only because it aligns this repo with the rest of the org, in that releases are done on tag and master is the most up to date snapshot

[2018-12-12 05:53] kenspirit opened #318 "Should TraceId be set to express req.headers or res.locals if it's empty at the beginning?"
According to issue https://github.com/openzipkin/zipkin-js/issues/88, express middleware doesn't seem to be able to work well to capture following middleware's operation's span especially if it involves async/await/Promise work.

When in expressMiddleware, it starts `instrumentation.recordRequest` and generated one id, would it be more helpful for the developers to deal with different scenarios if

[2018-12-12 10:23] DavideCarvalho commented on #316
I don't agree. Master should have the latest stable version. Usually, when using gitflow, canary releases are released on develop branch.

[2018-12-12 10:58] DavideCarvalho commented on #270
For now, I don't see why not keep using Rollup for the other packages. If we see that rollup doesn't work with other package, we can discuss

[2018-12-12 11:06] jcchavezs commented on #270
Good. @sonybinhle, could you work on the other packages?

José Carlos Chávez

Den ons. 12. des. 2018 kl. 11:58 skrev Davi de Carvalho <
notifications@github.com>:

[2018-12-12 11:35] sonybinhle commented on #270
@DavideCarvalho @jcchavezs Thank you very much for your feedback. I will work on it.

[2018-12-12 13:00] eirslett commented on #316
i think the Zipkin core server is released as a snapshot/canary on every commit/merge to master, is that still the case @adriancole ? That worked pretty well.

It's true that with gitflow uses a develop branch and a separate master branch: I'm against using gitflow at all, because we don't need the value it provides in exchange for extra complexity. I prefer canary releases from master, and stable

[2018-12-12 13:45] jcchavezs commented on #316
Thanks everyone for the feedback. My thoughts on this:

I think adding canaries for release provide many benefits:
1. Exercise the release process.
2. Publish non stable tags so people could try stuff and shorten the
feedback loop before we provide a proper release.

That does not mean we encourage people to use this canary releases (if
someone wants to use it is at its own risk).

In the other ha

[2018-12-12 13:45] jcchavezs commented on #270
Awesome!

José Carlos Chávez

Den ons. 12. des. 2018 kl. 12:35 skrev Binh Le <notifications@github.com>:

[2018-12-12 13:49] webmutation commented on #270
Hi David, Webpack supports thru plugins probably all existing module formats.
I think mjs is out of the box and for esm you have a plugin
https://www.npmjs.com/package/@purtuga/esm-webpack-plugin

But I actually prefer Rollup it is cleaner output (webpack is a bit messy), just not as popular and a bit in decline and also makes my use case Angular CLI app a bit harder to integrate, but i have forke

[2018-12-12 17:10] ghermeto commented on #270
can anyone please explain the need to use `rollup` (or any bundler for that matter) for packages that will work exclusively for Node.js?

I would understand using rollup for `zipkin-transport-http` and others that can be used on a browser, but most of the other packages would be better off without it IMO.

It is not like you can compress the code, as it is a bad practice for node because makes ins

[2018-12-12 17:43] ewhauser commented on #191
I've made available an early prototype of a Zipkin integration for Angular here - https://github.com/ewhauser/angular-tracing

[2018-12-12 18:35] jcchavezs commented on #270
This sound like I really valid concern, should we consider on only minify
those libraries that can be used in frontend and leave the rest out? Any
opinion @openzipkin/zipkin-js-champions

Den ons. 12. des. 2018, 18:10 skrev Guilherme Hermeto <
notifications@github.com:

[2018-12-12 18:41] jcchavezs commented on #318
Hi there! Thanks for coming by. I am not sure I understand the issue, is
the idea to be able to access the span of the express middlewares is to add
some sort of customisation? If that is the case the zipkin idiomatic way to
do so is the spanCustomizer (not implemented here yet).

Could you please provide an example of the use case you are referring to
here?

Den ons. 12. des. 2018, 06:53 skrev Ke

[2018-12-12 23:04] kenspirit commented on #318
@jcchavezs I am not sure what spanCustomizer is, but I think the idea is to access the span created by the zipkin expressMiddleware.

As in current expressMiddelware's implementation, the id generated in it by `instrumentation.recordRequest` is not setting in req or res.locals, it merely record the whole response after it's done.

the `next()` call in that middleware indicates the next middleware

[2018-12-13 06:06] jcchavezs commented on #191
Awesome!

Den ons. 12. des. 2018, 18:44 skrev Eric Hauser <notifications@github.com:

[2018-12-13 07:12] kenspirit commented on #318
BTW, I don't quite understand why step 2 in below sample code cannot be able to get the parentId "14c2b283477a12a9" as the step 1, and it's creating a new one "e2844c87b3354fec"?

[code]

The capture span is like below:

[code]

[2018-12-13 07:51] ghermeto commented on #318
hi @kenspirit,

I can reproduce the issue with `zipkin-instrumentation-express`. I also tested the same with `zipkin-instrumentation-connect` and, using that one, both the `traceId` and `parentId` remains constant, while the `spanId` changes during the asynchronous calls:

[code]

produces:

[code]

I believe that is the correct behavior. @jcchavezs please correct me if I'm wrong.

[2018-12-13 08:52] kenspirit commented on #318
@jcchavezs in zipkin-connect, it contains what I expected to have in zipkin-express

[code]

@jcchavezs @ghermeto I don't know why the express and connect middleware are behaving differently.  Is it because in express middleware, it's wrapped in a `scoped` function call?

[2018-12-13 09:06] ghermeto commented on #318
@kenspirit yes, I create PR #319 to solve this issue and added the tests to verify it

[2018-12-13 09:16] kenspirit commented on #318
@ghermeto Just saw that.  Thanks.  I wonder if you can add below statement like the one in zipkin-connect into the PR also:

[code]

And honestly, I don't understand exactly why extra scope causes the problem.  The scope function should be finished already because the `next()` call is there and control should be already passed to next middleware.  Why the spanId can be inherited in step1 but not s

[2018-12-13 10:00] ghermeto commented on #318
@kenspirit I updated the PR to add that line.

AFAIK promise chains will lose the scope...

[2018-12-13 11:10] #318 closed

[2018-12-14 00:21] adriancole commented on #316
haha if it did no idea!

[2018-12-14 09:57] jcchavezs commented on #270
Based on @ghermeto's concerns. Could we discuss which libraries should support bundler?

- [ ] cujojs/rest (zipkin-instrumentation-cujojs-rest)
- [ ] express (zipkin-instrumentation-express)
- [ ] fetch (zipkin-instrumentation-fetch)
- [ ] hapi (zipkin-instrumentation-hapi)
- [ ] memcached (zipkin-instrumentation-memcached)
- [ ] redis (zipkin-instrumentation-redis)
- [ ] restify (zipkin-instrumen

[2018-12-14 15:06] devinsba commented on #316
Hmm, maybe we should publish server snapshots to bintray? If we don't then I rescind my recommendation that we should publish canaries, I will leave that up to the Node ecosystem folks

[2018-12-14 15:42] jcchavezs commented on #175
@joepuzzo would you be up for a PR fixing this (of course count us in for
reviews)

Den fre. 14. des. 2018, 16:24 skrev Joe Puzzo <notifications@github.com:

[2018-12-15 02:32] joepuzzo commented on #175
So i dont think you want me doing that tbh.. currently the lib uses continuation-local-storage which is the main supported lib.. the cls-hooks version is a fork that sounds like will eventually be merged into the main lib

[2018-12-15 02:33] joepuzzo commented on #175
The workaround is simple enough for now.. however one thing i could simply do is provide a second class AsyncCLSContext that was included with lib

[2018-12-18 08:51] sonybinhle commented on #270
@jcchavezs
IMO there are advantages and disadvantages of using bundler for all packages.

By using bundler, we can export final bundle to different formats, uniform way of bundling code, plugin supports. It will be at the expense of simplicity, readability output(a little bit readability when babel transpile file by file instead of combining all of the files to one).

I prefer using the same bundl

[2018-12-31 19:01] ewhauser opened #321 "Tags are being sent as a binaryAnnotations to a v2 endpoint"
The HTTP transport sends spans to the endpoint /api/v2/spans, but the endpoint does not support binaryAnnoations (https://zipkin.io/zipkin-api/#/default/post_spans).

https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin/src/tracer/index.js#L232

[code]

[2018-12-31 19:53] jcchavezs commented on #321
Are you using V2 encoder?

https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin-transport-http/README.md

Den man. 31. des. 2018, 20:01 skrev Eric Hauser <notifications@github.com:

[2019-01-03 15:49] ShrawanLakhe commented on #194
@sssession did you find any fixes?

[2019-01-04 12:54] jcchavezs commented on #194
@ShrawanLakhe would you like to take this issue over?

[2019-01-10 07:15] li8 opened #323 "Error: Cannot find module 'zipkin-instrumentation-grpc-client'"
I have included zipkin-instrumentation-grpc-client using npm install

`npm install zipkin-instrumentation-grpc-client@0.15.0 --save`

On running the application, I get the error
`Error: Cannot find module 'zipkin-instrumentation-grpc-client'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at req

[2019-01-10 20:31] jcchavezs commented on #323
Thanks @li8, I am pinging @ghermeto as he is the original author of this package.

[2019-01-11 08:48] li8 commented on #323
For now , I use the postInstall script in package.json
`postinstall: mv node_modules/zipkin-instrumentation-grpc-client/lib/grpcClientInterceptor.js node_modules/zipkin-instrumentation-grpc-client/lib/grpcClient.js`

[2019-01-15 04:08] jcchavezs commented on #323
closed by #324

[2019-01-15 04:08] #323 closed

[2019-01-16 15:21] eirslett commented on #284
Might want to move it to  https://github.com/openzipkin-contrib/ initially?

[2019-01-16 16:45] briancavalier opened #326 "Typo in 0.16.0 github release name"
I just noticed that the 0.16.0 release name on [github releases page](https://github.com/openzipkin/zipkin-js/releases) says "1.6.0".  This is just a typo in the name, though, so it likely hasn't caused any real problems other than some double-takes :)

The git tag, [package.json](https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin/package.json#L3) and [npm published version](https

[2019-01-24 14:01] jcchavezs commented on #316
I think it is reasonable to say we want this. Is anyone in the mood to start this work? @landons @ghermeto @sonybinhle maybe?

[2019-01-24 14:02] jcchavezs commented on #326
Sorry for this. My fault. I just fixed it :).

[2019-01-24 14:02] #326 closed

[2019-01-24 14:11] jcchavezs commented on #284
Done, moved to openzipkin-contrib.

José Carlos Chávez

Den ons. 16. jan. 2019 kl. 16:21 skrev Eirik Sletteberg <
notifications@github.com>:

[2019-01-24 14:13] jcchavezs commented on #291
Do you mind opening a PR with such a change? Ping @openzipkin/zipkin-js-champions

[2019-01-24 14:14] jcchavezs commented on #315
@ewhauser can you think on any actions to take from now?

[2019-01-24 14:15] #284 closed

[2019-02-08 01:31] ewhauser commented on #315
I can try to debug this at some point in the near future. Likely some combination of browser precision, browserify, and/or lolex that cause that test not to function correctly. Given the fact that the rest of the coverage in that file works, I do not think this is a high priority issue as regressions would still continue to get caught on the NodeJS side.

[2019-02-11 06:59] kenspirit opened #327 "Should httpServer instrumentation assumes sampled header always provided with spanId?"
In HttpServerInstrumentation, the logic of creating traceId when header contains x-b3-spanid and x-b3-traceid assumes that the x-b3-sampled headers are also provided.

https://github.com/openzipkin/zipkin-js/blob/9e0eee22a07156056656c2eeca8b4f94d5dbed34/packages/zipkin/src/instrumentation/httpServer.js#L47

the value of `sampled` is actually `None` when we are using the `readHeader` function provi

[2019-02-11 10:04] adriancole commented on #327
if there is no sampled header but valid trace and span id, then a sampling
decision should be made.

I think what I just wrote agrees with you!

On Mon, Feb 11, 2019, 2:59 PM Ken Chen <notifications@github.com wrote:

[2019-02-11 13:34] jcchavezs commented on #327
@kenspirit thanks for rising this issue. So if no sampled header is present, tracer should use sampler to make a decision. In this specific case, sampler is making the decision when creating the span but not when using an extracted one.

As far as I understand, [connect middleware calls instrumentation.recordRequest](https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin-instrumentati

[2019-02-11 14:32] kenspirit commented on #327
Thanks @adriancole and @jcchavezs for supporting this opinion.

@jcchavezs, I can try to raise PR for the change.  But shouldn't the decision be made in HttpServer?

https://github.com/openzipkin/zipkin-js/blob/9e0eee22a07156056656c2eeca8b4f94d5dbed34/packages/zipkin/src/instrumentation/httpServer.js#L47

When detecting the `sampled` is None, then it can call `this.tracer.sampler` to do some work.

[2019-02-12 01:34] kenspirit commented on #327
PR https://github.com/openzipkin/zipkin-js/pull/328 submitted

[2019-02-12 06:59] jcchavezs commented on #327
So the thing is that accessing directly to object properties is leaking
knowledge about them. I don't think we should access to it. Any thoughts
@adriancole?

Den tir. 12. feb. 2019, 02:34 skrev Ken Chen <notifications@github.com:

[2019-02-12 07:02] adriancole commented on #327
some of the logic is a bit mixed anyway, for example creating IDs if not
present. I don't completely follow which decisions are where, though I have
an opinion that extracting from headers should ideally be separate from ID
generation and sampling logic.

[2019-02-12 08:30] kenspirit commented on #327
From my point of view, the sampling logic (use sampler to make the decision while the sampled header is missing) should be in HTTPServer instrumentation or Tracer.  Not the id getter in tracer.

If the logic resides in instrumentation, it needs to know the sampler.
If the logic in Tracer, we should not directly new a TraceId in instrumentation as it has no sampler knowledge there.

We can either e

[2019-02-12 08:42] adriancole commented on #327
Since it sounds like you are up to refactoring, I think we should consider doing just that!

when sampling is probabilistic only, agreed the tracer can handle it. In brave we have a function called "joinSpan" which handles the backfilling of sampling status as needed.

here's the call site.. note that here we "attempt" to employ an http layer sampler (one aware of http path expressions)
https://gi

[2019-02-12 09:39] kenspirit commented on #327
@adriancole I think the logic under below condition is just doing the backfilling similarly?  Do you mean we move this logic (L43 - L63) into tracer?

https://github.com/openzipkin/zipkin-js/blob/9e0eee22a07156056656c2eeca8b4f94d5dbed34/packages/zipkin/src/instrumentation/httpServer.js#L42

[2019-02-12 09:45] adriancole commented on #327
basically separate out the header extraction from acting on the data. the
header extraction can result in a TraceId object representing the inbound
call. A tracer function named join or similar can look at that and backfill
if possible the sampling status (TraceId.sampled can hold a None value, so
the tracer logic can re-use that). I suspect the same logic would be
re-used in the grpc server handl

[2019-02-12 14:18] kenspirit commented on #327
@adriancole agree with you.  I moved the traceId backfilling & sampled value calculation to tracer.join method.  Please review the new commit in PR and see if that is what you prefer.

[2019-02-12 16:33] alexgervais opened #330 "Tracer defaultTags behavior and documentation"
Using `zipkin-js` 0.16.0, I tried to understand how the Tracer `defaultTags` property by looking at the original PR and test cases.

Given the following code:
[code]

Spans are sent and collected by OpenZipkin. However, they are all missing the expected `version: 1.0.0` tag.

Unable to find the related documentation for Tracer configuration, I'm not sure if my usage if right and this is a bug, or

[2019-02-12 17:28] jcchavezs commented on #330
Indeed spans should be tagged with default tags and they should be added on span creation. I guess the issue is in https://github.com/openzipkin/zipkin-js/pull/302/files#diff-ac3b9e6d0bce19fd854267694cd42421R108 because in the test we add the tag instead of expect the tracer to automatically add it. Am I wrong @ghermeto ?

[2019-02-13 15:01] vmakarevich opened #332 "Cannot set rootId"
can someone explain to me how can I manually chain traces, f.e. I have one server request and inside call some other external endpoints, how can I bind all external calls to one server call? In koa I want smth like create one traceId for each api server call and in controller have access to it and assign as parent for other calls, like
[code]
Actually the main trouble of this library is understand

[2019-02-14 22:22] ghermeto commented on #330
@jcchavezs AFAIK it works just fine:

https://github.com/openzipkin/zipkin-js/blob/master/packages/zipkin/test/trace.test.js#L122-L142

[2019-02-15 13:19] jcchavezs commented on #330
@alexgervais would you raise a failing test case for this?

[2019-02-15 13:31] jcchavezs commented on #332
Hi @vmakarevich, I think this is what you are looking for: https://github.com/openzipkin/zipkin-js/tree/master/packages/zipkin-context-cls.

[2019-02-15 13:31] #332 closed

[2019-02-15 14:16] alexgervais commented on #330
I created a failing test case: https://github.com/openzipkin/zipkin-js/pull/333
Again, it might just be my understanding of the feature that's not in line with the implemented behavior.

[2019-02-15 22:31] ghermeto commented on #330
I added a comment on the PR. The constructor will record the `defaultTags` first.

@jcchavezs  I will add a test to find out why @alexgervais is unable to find the tags in `openZipkin`.

[2019-02-16 04:48] ghermeto commented on #330
Ok, definitely a **bug** @alexgervais.

The problem is precisely because `setTags` is being called before the `traceId` is set. In this case, `BatchRecorder` will update a different partial span.

@jcchavezs there are several ways to fix this, but require to move the recording outside of the tracer constructor. My suggestion is to move the recording of the `defaultTags` back to `httpServer` and `h

[2019-02-16 04:54] adriancole commented on #330
considering we still want default tags to be on all spans (afaik) then we wouldn't want to move it to the http abstraction. Maybe move to batch recorder, or defer on serviceName being set? Either way, it isn't nice right now, but api break isn't a great idea yet.

[2019-02-16 06:28] ghermeto commented on #330
@adriancole my suggestion to fix the issue is #334

In the meantime directly call `Tracer.setTags` method is a workaround for current version.

[2019-02-16 06:39] ghermeto opened #335 "suggestion: use conventional commits"
I suggest start using [conventional commits](https://www.conventionalcommits.org/en/v1.0.0-beta.3/) in the commit messages. This way `zipkin-js` can rely on automated tools to build automated and reliable change logs. Also, it makes cristal clear (and possible to automate) which should be the next version:

* breaking changes are a major;
* features are minor;
* fixes are patches;
* doc, tests, re

[2019-02-16 07:06] ghermeto commented on #327
@jcchavezs sorry I am late to the party, but I looked at #328 and it seems the right approach.

Also, changing `zipkin-instrumentation-connect` would fix only that particular instrumentation and the problem would remain for the others... looks like Express and Restify instrumentation also will set `sampled` to `None`

[2019-02-16 11:02] jcchavezs commented on #335
I have been using the [semantic commits](https://seesparkbox.com/foundry/semantic_commit_messages) for a while and I find it worth.

I think we could create a `CONTRIBUTING.md` document but it would be much better if we could also automate the red flag for non conventional commits. Do you have any experience with it?

Ping @openzipkin/zipkin-js-champions

[2019-02-21 12:56] jcchavezs commented on #330
Closed by #334

[2019-02-21 12:56] #330 closed

[2019-02-21 12:57] jcchavezs commented on #259
@ghermeto you migth be interested in this one.

[2019-02-21 13:06] jcchavezs opened #338 "Drop support for node 6"
Support for node 6 [is going to end on April 2019](https://nodejs.org/en/about/releases/). We should consider drop support for that after that happens.

There is an ongoing work on this matter: https://github.com/openzipkin/zipkin-js/pull/146

Ping @openzipkin/zipkin-js-champions

[2019-02-21 13:07] jcchavezs commented on #207
We are not using appveyor for now. If someone reports an issue on appveyor in their pipelines we can reenable the support for it in here.

[2019-02-21 13:07] #207 closed

[2019-02-21 13:07] jcchavezs commented on #242
Ping @sonybinhle

[2019-02-21 13:08] jcchavezs commented on #204
Is this still an issue? Ping @ghermeto

[2019-02-21 13:09] jcchavezs commented on #214
@zhangzhenhuajack would you start a PR with this feature?

[2019-02-21 13:11] jcchavezs commented on #110
@ghermeto could you please have a look at this issue? Thanks!

[2019-02-21 13:12] jcchavezs commented on #147
This might be interesting for your @ghermeto

[2019-02-21 13:12] jcchavezs commented on #139
Could you please reellaborate on this @narayaruna ?

[2019-02-21 23:19] ghermeto commented on #147
@jcchavezs I can pick this one up, but just to be clear, what is the goal here?

On the server side it is hard to imagine a way the user will keep the tracer reference after the request has ended and try to annotate (as all the middleware will only record response at the very end).

During development I do want to know when I mistakenly finished the span prematurely, and in this case fail hard is

[2019-02-22 11:54] jcchavezs commented on #147
Legit concerns, I would usually log the error and make it clear that reporting logger should not be used in production (use noop instead). What do you think @adriancole?

[2019-02-22 12:18] #327 closed

[2019-02-26 07:20] ghermeto commented on #259
👍

[2019-03-01 17:41] jcchavezs commented on #22
This might also be interesting for you @ghermeto.

[2019-03-02 19:06] awesomehimanshu opened #342 "I want tracking of module inside same microservices also?"
Let say i have 3 microservice

I can track interaction of those microservices by fetch , but i want the time taken from one function to other . Let say.

1. I have a mysql call , then file read , then file write in same microservice. I want to track time taken by this three also in the span.

Is it possible ? If possible can you tell . I don't find any blog or documentation in repo too.

[2019-03-02 19:10] jcchavezs commented on #342
It is possible but you need instrumentation for each one. There is one
community instrumentation for MySQL:
https://github.com/juspay/zipkin-instrumentation-mysql but for file IO you
might need to write your own or look for an existing one.

Den lør. 2. mar. 2019, 20:06 skrev Himanshu sharma <notifications@github.com

[2019-03-02 19:11] jcchavezs commented on #342
For further questions please join us on gitter.im/openzipkin/zipkin :).

Den lør. 2. mar. 2019, 20:10 skrev José Carlos Chávez <jcchavezs@gmail.com>:

[2019-03-03 05:38] awesomehimanshu commented on #342
Ok sure . That means if i want to instrument anything i want its instrument libaray in node.js ?

[2019-03-03 09:22] jcchavezs commented on #342
Yes, exactly that. We provide some instrumentations for different kind of
components. You can find some of them at
https://zipkin.io/pages/tracers_instrumentation and there are some other
community ones.

Den søn. 3. mar. 2019, 06:38 skrev Himanshu sharma <notifications@github.com